<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Agilspace</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />

    <link rel="stylesheet" th:href="@{/css/simplelightbox.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fullpage.css}" />
    <link rel="stylesheet" th:href="@{/css/styleupdate.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" th:href="@{/css/page-detail.css}" />

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/bower_components/x-editable/dist/jquery-editable/jquery-ui-datepicker/js/jquery-ui-1.10.3.custom.js}"></script>
    <script th:src="@{/js/simple-lightbox.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/fullpage.js}"></script>
    <script th:src="@{/js/fullpage.scrollHorizontally.limited.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/page-detail.js}"></script>

</head>
<body class="navbar-primary">
    <div th:class="${checkIndex} ? 'header' : 'header header-2'">
        <div class="container">
            <div class="logo">
                <a href="/" title="Agilspace">
                    <img src="/assets/images/logo.svg">
                </a>
            </div>
            <div class="menu">
                    <a class="menu-open">
                        <div class="icon">
                        <span class="c-burger_top"></span>
                        <span class="c-burger_middle"></span>
                        <span class="c-burger_bottom"></span>
                        </div>
                    </a>
                <div class="menu-list">
                    <ul class="ul_menu">
                        <li><a id="m_home" href="/about-us" th:text = "${menu.about}"></a></li>
                        <li><a id="m_geoportal" href="#home/1" th:text = "${menu.geoportal}"></a></li>
                        <li><a id="m_geoservices" href="#" th:text = "${menu.geoservices}"></a><span class="angle-down"></span>
                            <ul class="sub-menu">
                                <li><a id="m_warehouse" href="#home/1" th:text = "${menu.geoserviceSub1}"></a></li>
                                <li><a id="m_insights" href="#" th:text = "${menu.geoserviceSub2}"></a></li>
                                <li><a id="m_software" href="#" th:text = "${menu.geoserviceSub3}"></a></li>
                                <li><a id="m_consultancy" href="#" th:text = "${menu.geoserviceSub4}"></a></li>
                            </ul>
                        </li>
                        <li><a id="m_satellite" href="#" th:text = "${menu.satelite}"></a><span class="angle-down"></span>
                            <ul class="sub-menu">
                                <li><a id="m_warehouse" href="#home/1" th:text = "${menu.sateliteSub1}"></a></li>
                                <li><a id="m_insights" href="#partners" th:text = "${menu.sateliteSub2}"></a></li>
                            </ul>
                        </li>
                        <li><a id="m_manufacturing" href="#" th:text = "${menu.integratedService}"></a><span class="angle-down"></span>
                            <ul class="sub-menu">
                                <li><a id="m_warehouse" href="#" th:text = "${menu.serviceSub1}"></a></li>
                                <li><a id="m_insights" href="#" th:text = "${menu.serviceSub2}"></a></li>
                                <li><a id="m_insights" href="#" th:text = "${menu.serviceSub3}"></a></li>
                            </ul>
                        </li>
                        <li><a id="m_all-products" href="#" th:text = "${menu.news}"></a><span class="angle-down"></span>
                            <ul class="sub-menu">
                                <li><a id="m_warehouse" href="#" th:text = "${menu.newsSub1}" ></a></li>
                                <li><a id="m_insights" href="#" th:text = "${menu.newsSub2}"></a></li>
                                <li><a id="m_insights" href="/gallery" th:text = "${menu.newsSub3}" ></a></li>
                            </ul>
                        </li>
                        <li><a id="m_contact" href="/contact-us" th:text = "${menu.contact}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<th:block layout:fragment="content"/>

</body>
</html>