<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="menu">
	<div id="mySidebar" class="sidebar">
	<input type="text" class="form form-control" id="filtertext"> <a href="#" class="closebtn"
			id="closebtn">X</a>
		<div id="menutext">

			<a th:href="@{/admin}"><span>Image</span></a>
			<a th:href="@{/admin/all}"><span>Xem toàn bộ đơn hàng</span></a>
			<a th:href="@{/admin/store}"><span>Quản lý cửa hàng</span></a>
			<a th:href="@{/admin/gmc}"><span>Quản lý GMC </span></a>
			<a th:href="@{/admin/allproductgmcfeed}"><span>All GMC Products </span></a>
			<a th:href="@{/admin/paypal}"><span>Quản lý Paypal</span></a>
			<a th:href="@{/admin/dispute}"><span>Quản lý Dispute</span></a>
			<a th:href="@{/admin/products}"><span>Quản lý Sản phẩm</span></a>
			<a th:href="@{/logout}"><span>Log out</span></a>

		</div>
</div>
</th:block>
</body>
</html>
