<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout_backend}">
<head>
<title>Image</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>
	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> Image</b>
	</div>
	<div class="row">
		<div class="col-6">
			<form th:action="@{/admin/uploadfile}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
<!-- 						<button id="upload" type="submit" class="btn btn-info" -->
<!-- 							th:text="Upload"></button> -->
					</div>
					<div class="col-6 col-md-8">
<!-- 						<input type="file" name="file" id="file" class="form-control" -->
<!-- 							required> -->
					</div>
				</div>
			</form>
		</div>
		<div class="col-6">
			<form th:action="@{/admin/assignone}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-warning">All
							Order</button>
					</div>
					<div class="col-6 col-md-8">
						<select name="supplier" required="required">
							<option th:each="supplier : ${lsSupplier}"
								th:value="${supplier.username}" th:text="${supplier.username}"></option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-6">
			<form th:action="@{/admin/assignclick}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="hiddenrow" name="hiddenrow">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="click" class="btn btn-primary" th:text="Assign"></button>
					</div>
					<div class="col-6 col-md-8">
						<select name="supplier" required="required">
							<option th:each="supplier : ${lsSupplier}"
								th:value="${supplier.username}" th:text="${supplier.username}"></option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<table id="tableorder" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>Order ID</th>
				<th>Address</th>
				<th>Image</th>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Variant</th>
				<th>Style</th>
				<th>Status</th>
				<!-- 				<th>Assign</th> -->
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="order : ${lsOrder}">
				<td></td>
				<td data-th-text="${order.id}" class="id"></td>
				<td data-th-text="${order.oname}" class="name"></td>
				<td class="address">
					<p>
						Name : <b data-th-text="${order.addressname}"></b>
					</p>
					<p>
						Address 1: <b data-th-text="${order.address1}"></b>
					</p>
					<p>
						Address 2: <b data-th-text="${order.address2}"></b>
					</p>
					<p>
						Phone: <b data-th-text="${order.phone}"></b>
					</p>
					<p>
						City: <b data-th-text="${order.city}"></b>
					</p>
					<p>
						Zip: <b data-th-text="${order.zip}"></b>
					</p>
					<p>
						Province: <b data-th-text="${order.province}"></b>
					</p>
					<p>
						Country: <b data-th-text="${order.country}"></b>
					</p>
				</td>
 				<td class="image"><img th:src="${order.imageurl}">
					<span th:text="${#dates.format(order.createDate, 'dd-MMM-yyyy')}"></span>
				</td>
				<td data-th-text="${order.productname}" class="product"></td>
				<td data-th-text="${order.quantity}" class="quantity"></td>
				<td data-th-text="${order.variant}" class="variant"></td>
				<td data-th-text="${order.style}" class="style"></td>
				<td>
					<span th:if="${order.status== 'New order'}"
						data-th-text="${order.status}" ></span>
					<span th:if="${order.status== 'Cancel'}"
						data-th-text="${order.status}" class="Cancel "></span>
				<span th:if="${order.status== 'Cancel_Supplier'}"
				data-th-text="${order.status}" class="Cancel"></span>
				<span th:if="${order.status== 'On-Hold'}"
				data-th-text="${order.status}" class="Cancel"></span>
				<span th:if="${order.status== 'On-Hold'}"
				data-th-text="${order.transaction_id}" ></span>
				<span th:if="${order.status== 'On-Hold'}"
				data-th-text="${order.pay_pal_account_id}" ></span>
				</td>
				<!-- 				<td> -->
				<!-- 					<form th:action="@{/admin/assignsup}" name="formassign" method=POST> -->
				<!-- 						<input type="hidden" name="id" th:value="${order.id}"> <select -->
				<!-- 							name="supplier" required="required"> -->
				<!-- 							<option th:each="supplier : ${lsSupplier}" -->
				<!-- 								th:value="${supplier.username}" th:text="${supplier.username}"></option> -->
				<!-- 						</select> <br> -->
				<!-- 						<button id="assign" type="submit" class="btn btn-primary" -->
				<!-- 							th:text="Assign" style="margin-top: 10px;"></button> -->
				<!-- 					</form> -->

				<!-- 				</td> -->
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>