<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>All Orders</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
	
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}"> -->
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>
	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> All Orders</b>
	</div>
	<div class=row>
		<form class="formgetone" th:action="@{/admin/getone}"
			name="formgetone" method=GET style="width: 500px; margin-left: 30px">
			<div class="form-group form-inline">
				<div class="col-6">
					<input type="text" class="form form-control" name="orderid"
						placeholder="Order ID" required="required">
				</div>
				<div class="col-6">
					<button id="find" type="submit" class="btn btn-info"
						th:text="FindById"></button>
				</div>
			</div>
		</form>
		<form class="formgetonestore" th:action="@{/admin/getonestore}"
			name="formgetonestore" method=GET
			style="width: 500px; margin-left: 30px">
			<div class="form-group form-inline">
				<div class="col-6">
					<input type="text" class="form form-control" name="storedomain"
						placeholder="Store Domain" required="required">
				</div>
				<div class="col-6">
					<button id="findstore" type="submit" class="btn btn-info"
						th:text="FindByStore"></button>
				</div>
			</div>
		</form>
		<form class="formexport" th:action="@{/admin/exportstore}"
			name="formexport" method=GET
			style="width: 500px; margin-left: 30px">
			<div class="form-group form-inline">
				<div class="col-6">
					<input type="text" class="form form-control" name="storedomain"
						placeholder="Store Domain" required="required">
				</div>
				<div class="col-6">
					<button id="findstore" type="submit" class="btn btn-info"
						th:text="ExportByStore"></button>
				</div>
			</div>
		</form>
<!-- 		<form class="formgetonetransaction" th:action="@{/admin/getonetransaction}" -->
<!-- 			name="formgetonetransaction" method=GET style="width: 500px; margin-left: 30px"> -->
<!-- 			<div class="form-group form-inline"> -->
<!-- 				<div class="col-6"> -->
<!-- 					<input type="text" class="form form-control" name="transactionid" -->
<!-- 						placeholder="Transaction ID" required="required"> -->
<!-- 				</div> -->
<!-- 				<div class="col-6"> -->
<!-- 					<button id="find" type="submit" class="btn btn-info" -->
<!-- 						th:text="FindByTransactionId"></button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</form> -->
			<div class="col-6">
			<form th:action="@{/admin/exportorder}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="hiddenroworder" name="hiddenroworder">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="btnExportOrder" class="btn btn-primary" th:text="Export"></button>
					</div>
				</div>
			</form>
		</div>
		<br>
	</div>
	<table id="tableallorder" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>Order ID</th>
				<th>Address</th>
				<th>Image</th>
				<th>Product Name</th>
				<th>Status</th>
				<th>Action</th>
				<th>Paypal</th>
				<th>Price</th>
				<th>Tracking</th>
				<th>Up track</th>
				<th>Transaction</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="order : ${lsOrder}">
				<td></td>
				<td data-th-text="${order.id}" class="id"></td>
				<td data-th-text="${order.oname}" class="name"></td>
				<td class="address">
					<p>
						Name : <b data-th-text="${order.addressname}"></b>
					</p>
					<p>
						Address 1: <b data-th-text="${order.address1}"></b>
					</p>
					<p>
						Address 2: <b data-th-text="${order.address2}"></b>
					</p>
					<p>
						Email: <b data-th-text="${order.email}"></b>
					</p>
					<p>
						City: <b data-th-text="${order.city}"></b>
					</p>
					<p>
						Province: <b data-th-text="${order.province}"></b>
					</p>
					<p>
						Zip: <b data-th-text="${order.zip}"></b>
					</p>
					<p>
						Phone: <b data-th-text="${order.phone}"></b>
					</p>
					<p>
						Country: <b data-th-text="${order.country}"></b>
					</p>
					<p>
						Customer Note: <b data-th-text="${order.adminnote}"></b>
					</p>
				</td>
				<td class="image">
<!-- 				<img th:src="${order.imageurl}"> -->
					<span th:text="${#dates.format(order.createDate, 'dd-MMM-yyyy')}"></span>
				</td>
				<td class="product">
				<span data-th-text="${order.productname}" ></span>
				<br>
				<b>Quantity:</b> <span data-th-text="${order.quantity}" ></span>
				</td>
				<td><span th:if="${order.status== 'New order'}"
					data-th-text="${order.status}"></span> <span
					th:if="${order.status== 'Cancel'}" data-th-text="${order.status}"
					class="Cancel"></span> <span
					th:if="${order.status== 'Cancel_Supplier'}"
					data-th-text="${order.status}" class="Cancel"></span> 
					<span
					th:if="${order.status== 'Delivered'}"
					data-th-text="${order.status}" class="Delivered"></span> <span
					th:if="${order.status== 'On-Hold'}" data-th-text="${order.status}"
					class="Cancel"></span> <span data-th-text="${order.transaction_id}"></span>
					<span class = "paypalaccountid" th:if = "${order.paypalstatus != 'LIMIT'}" data-th-text="${order.paypalaccountid}"></span>
					<span th:if = "${order.paypalstatus == 'LIMIT'}" data-th-text="${order.paypalaccountid}" class = "limit paypalaccountid"></span>
<!-- 					<span data-th-text="${order.stripe_sk}"></span> -->
<!-- 					<span data-th-text="${order.stripe_intent_id}"></span> -->
					<span th:if="${order.disputed== 'disputed'}" class = "Cancel">DISPUTED</span>
					<span th:if="${order.disputed== 'disputed'}" data-th-text="${order.dispute_id}"></span>
					<span th:if="${order.disputed== 'disputed'}" data-th-text="${order.dispute_state}"></span>
					<span th:if="${order.disputed== 'disputed'}" data-th-text="${order.dispute_reason}"></span>
					<span th:if="${order.dispute_status== 'RESOLVED'}" data-th-text="${order.outcome_code}" class ="Warning"></span>
					<br>
					<span th:if="${order.payment_status== 'on-hold'}" data-th-text="${order.payment_status}" class ="Warning"></span>
					<span th:if="${order.payment_status== 'REFUNDED'}" data-th-text="${order.payment_status}" class = "Cancel"></span>
					<span th:if="${order.payment_status== 'CAPTURED'}" data-th-text="${order.payment_status}" class = "Delivered"></span>
					<span th:if="${order.payment_status== 'processing'}" data-th-text="${order.payment_status}" class = "Delivered"></span>
					<span th:if="${order.payment_status== 'CAPTURED'}" data-th-text="${order.capture_status}"></span>
					<span th:if="${order.payment_status== 'CAPTURED_FAILED'}" data-th-text="${order.payment_status}" class = "Cancel"></span>
					<span th:if="${order.payment_status== 'CAPTURED_FAILED'}" data-th-text="${order.capture_issue}"></span>
					<span data-th-text="${order.siteb}"></span>
				</td>
				
				<td>
<!-- 					<form th:action="@{/admin/deleteorder}" name ="formassign" method = POST> -->
						<input type="hidden" name="id" th:value="${order.id}">
						<button id="delete" type="submit" class="btn btn-danger btnDelete" th:text ="Delete"></button>
						<b><span class = "resultdelete"></span></b>
<!-- 					</form> -->
<!-- 					<form th:action="@{/admin/reneworder}" name="formrenew" method=POST -->
<!-- 						style="margin-top: 20px;"> -->
<!-- 						<input type="hidden" name="id" th:value="${order.id}"> -->
<!-- 						<button id="renew" type="submit" class="btn btn-primary" -->
<!-- 							th:text="Renew"></button> -->
<!-- 					</form> -->
<!-- 					<form th:action="@{/admin/returnedorder}" name="formreturn" -->
<!-- 						method=POST style="margin-top: 20px;"> -->
<!-- 						<input type="hidden" name="id" th:value="${order.id}"> -->
<!-- 						<button id="returned" type="submit" class="btn btn-warning" -->
<!-- 							th:text="Returned"></button> -->
<!-- 					</form> -->
<!-- 					<form th:action="@{/admin/refundwoo}" name="formrefund" -->
<!-- 						method=POST style="margin-top: 20px;"> -->
<!-- 						<input type="hidden" name="id" th:value="${order.id}"> -->
						<button id="refundedWoo" type="button" class="btn btn-danger btnRefundWoo" style="margin-top: 20px;"
							th:text="RefundWoo"></button>
<!-- 					</form> -->
					<br>
					<button id="btnRefundPP" type="button" class="btn btn-danger top10 btnRefundPP" style="margin-top: 20px;"
								th:text="RefundPP"></button>
					<b><span class = "resultrefund"></span></b>
				</td>
				<td>
					<input type="hidden" name="id" th:value="${order.id}"> 
						<button id="btnCapturePP" type="button" class="btn btn-info top10 btnCapturePP top20"
								th:text="CapturePP"></button>
						<input type="number" class="form form-control partial" placeholder="Partial" style="margin-top: 20px">
						<button id="btnCaptureStripe" type="button" class="btn btn-info top10 btnCaptureStripe top20"
								th:text="CaptureStripe"></button>
						<br>
						<b><span class = "result"></span></b>
				</td>
				<td data-th-text="${order.price}" class="price"></td>
				<td data-th-text="${order.trackingnumber}" class="trackingnumber"></td>
				<td>
					<input type="hidden" name="id" th:value="${order.id}"> 
							<input 
								type="text" class="form form-control width250 bottom20 trackingnumberinput"
								th:value="${order.trackingnumber}" name="trackingnumber"
								placeholder="Tracking Number" required="required">
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'US'"
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierUS}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'GB'" 
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierUK}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'AU'"
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierAU}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'DE'"
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierDE}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'IE'"
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierDE}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} != null AND ${order.country} == 'FR'"
									name="carrier" required="required" class="bottom20 max100 carrier">
									<option th:each="service : ${lsCarrierFR}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<select th:if= "${order.paypalaccountid} == null" 
									name="carrier" required="required" class="form form-control bottom20 max100 carrier">
									<option th:each="service : ${listCarrierAdvance}" th:value="${service}"
										th:text="${service}"></option>
								</select>
								<span th:if = "${order.carrier} != null" th:text = "${order.carrier}"></span>
								<br>
								<input type="checkbox" name="isemail" class = "isemail"/><span> SendEmail</span>
							<br>
							<button id="btnDeliver" type="button" class="btn btn-success top10 btnDeliver"
								th:text="Deliver"></button>
<!-- 								<button id="btnDeliverStripe" type="button" class="btn btn-success btnDeliverStripe" -->
<!-- 								th:text="DeliverStripe"></button> -->
<!-- 							<input type="number" class="form form-control partial" placeholder="Cap 1 phần" style="margin-top: 20px"> -->
								<br>
							
								<b><span class = "resultCapture"></span></b>
				</td>
				<td class="cost">
					<input 
								type="text" class="form form-control width250 ordercost"
								th:value="${order.transaction_id}" name="ordercost"
								placeholder="Transaction">
					<button id="btncost" type="button" class="btn btn-info btncost" style="margin-top: 5px;" th:text="Transaction"></button>
					<b><span class = "resultcost"></span></b>
					<input 
								type="text" class="form form-control width250 ordernote" style="margin-top: 10px;"
								th:value="${order.note}" name="ordernote"
								placeholder="Note">
					<button id="btnnote" type="button" class="btn btn-info btnnote" style="margin-top: 5px;" th:text="Note"></button>
					<button id="btnbalance" type="button" class="btn btn-info btnbalance" style="margin-left: 5px;" th:text="CheckBalance"></button>
					<span th:text="${order.note}"></span><br>
					<b><span class = "resultnote"></span></b>
					<br>
					<div th:if="${order.disputed== 'disputed'}">
					<input 
								type="text" class="form form-control width250 bottom20 messagedipsute" name="messagedipsute"
								placeholder="Message">
					<button id="btnSendMessage" type="button" class="btn btn-info top10 btnSendMessage" style="margin-top: 10px;" th:text="Send"></button>
					<b><span class = "resultMessage"></span></b>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.buttons.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap/jszip.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/vfs_fonts.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/buttons.html5.min.js}"></script>
		<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.scroller.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.dateTime.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.editor.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
		<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>