<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">All GMC Product</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/checkboxes/dataTables.checkboxes.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
	</div>
	<div class="form900">
		<div class=row>
		<form th:action="@{/admin/searchproductgmc}" method=GET
			enctype="multipart/form-data">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control"
							placeholder="currency" value="" name="currency" />
					</div>
				</div>
<!-- 				<div class="col"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<button id="btnsearch" type="submit" -->
<!-- 							class="btn btn-primary btnimport">Search</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control"
							placeholder="country" value="" name="country" />
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<button id="btnsearch" type="submit"
							class="btn btn-primary btnimport">Search</button>
					</div>
				</div>
			</div>
		</form>
<!-- 		<form th:action="@{/admin/searchproductgmccountry}" method=GET -->
<!-- 			enctype="multipart/form-data"> -->
<!-- 			<div class="row"> -->
<!-- 			</div> -->
<!-- 		</form> -->
		</div>
	</div>
	<br>
	<table id="tableallproductgmc" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>GMC</th>
				<th>Domain</th>
				<th>TM Title</th>
				<th>Feeded TM</th>
				<th>Price</th>
				<th>Currency</th>
				<th>GMC Note</th>
				<th>Picture</th>
				<th>Suspended</th>
				<th>Image</th>
				<th>Gtin</th>
				<th>Country</th>
				<th>SPS</th>
				<th>AddImages</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="productgmc : ${lsAllProductGMC}">
				<td>
					<a
					th:href="@{/admin/gmc/{merchantId}(merchantId=${productgmc.gmcid})}"><span
						data-th-text="${productgmc.gmcid}" class="merchantId"></span></a> <br>
					<b th:if="${productgmc.gmcstatus == 'ENABLE'} or ${productgmc.gmcstatus} == 'REACTIVE'" data-th-text="${productgmc.gmcstatus}"
					class="live"></b> <b th:if="${productgmc.gmcstatus == 'suspended'} or ${productgmc.gmcstatus} == 'DISABLE'"
					data-th-text="${productgmc.gmcstatus}" class="limit"></b>
					<br>
					<span
					data-th-text="${productgmc.accountSampleUser}"></span>
				</td>
				<td class="domain"><span data-th-text="${productgmc.domain}"></span><br>
					<a th:href="'https://' + ${productgmc.domain} + '/wp-admin'">Woo-Admin</a>
				</td>
				<td class="producttmtitle" data-th-text="${productgmc.producttmtitle}"></td>
				<td class="feedtm"><span data-th-text="${productgmc.supfeedtm}"></span></td>
				<td class="price"><span data-th-text="${productgmc.price}"></span>
				<td class="currency"><span data-th-text="${productgmc.currency}"></span>
				<td class="gmcnote"><span data-th-text="${productgmc.gmcnote}"></span>
				</td>
				<td class="image"> <img th:src="${productgmc.image}"></td> 
				<td>
					<span class="suspendeddate" data-th-text="${productgmc.suspendeddate}"></span>
					<br>
					<button id="delete" type="button" class="btn btn-danger btnDelete" th:text ="Delete"></button>
					<br>
					<b><span class = "resultdelete"></span></b>
				</td>
				<td><button type="button" class = "copyimage btn btn-info" th:text = "Copy"></button> <span class="image" data-th-text="${productgmc.image}"></span> </td>
				<td class="gmcnote"><span data-th-text="${productgmc.gtin}"></span>
				</td>
				<td class="country"><span data-th-text="${productgmc.country}"></span>
				<br>
				<b data-th-text="${productgmc.vpsserver}"></b>
				</td>
				<td class="country"><span data-th-text="${productgmc.country}"></span>
				<br>
				<td class="additonalimage"><span data-th-text="${productgmc.additonalimage}"></span>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/checkboxes/dataTables.checkboxes.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>