<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change password</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
</head>
<body>

<div class="container">
	<div class = "changepwfr">
		<form th:action="@{/admin/changepassword}" method=POST
				enctype="multipart/form-data">
				<input type="text" class="form form-control" name = "newpw" placeholder="New password">
				<input type="submit" class="btn btn-success" style="margin-top: 20px;"/>
		</form>
	</div>
</div>
</body>
</html>