<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>File Convert</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
</head>
<body>
	<div class="container">
		<form th:action="@{/startconvert}" method=POST
			enctype="multipart/form-data">
			<br>

			<div class="row">
				<div class="form-group form-inline">
					<div class="col">
						<input type="text" class="form form-control" name="shopname"
							placeholder="Shop Name" required="required">
					</div>
					<div class="col">
						<input type="text" class="form form-control" name="shopurl"
							placeholder="Shop URL" required="required">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group form-inline">
					<div class="col-6 col-md-8">
						<input type="file" name="fileshopify" id="fileshopify"
							class="form-control" required>
					</div>
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-info"
							th:text="Upload"></button>
					</div>

				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>