<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/css/login.css}">
</head>
<body>
	<div class="container">
		<h1>Hello</h1>
		<br>
		<div>
			<form th:action="@{/getdata}" method=POST style="margin: auto">
				<select name="brand" required="required">
					<option th:each="brand : ${lsBrand}"
						th:value="${brand}" th:text="${brand}"></option>
				</select>
				<br>
				<textarea class="form-control" name = "link" id="link"  rows="7" required="required" style="margin-top: 10px"></textarea>
				<br>
<!-- 				<input type = "text" class="form form-control" name = "category"/> -->
<!-- 				<br> -->
				<input type = "number" class="form form-control" value="10" max = "99" placeholder="Discount percent" name = "percent" required="required"/>
				<br>
				<button type="submit" class="btn btn-info">Get</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>