<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Google Merchants</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class="textcenter"> GMC</b>
	</div>
	<div class="form500">
		<form th:action="@{/admin/addgmc}" method=POST
			enctype="multipart/form-data">
			<div class="form-group form-inline">
				<div class="btnimport">
					File Merchant Info: <input type="file" name="file" id="file"
						class="form-control" required>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control"
							placeholder="Merchant ID" value="" name="merchantId"
							required="required" />
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<input type="email" class="form form-control" placeholder="Email"
							value="" name="accountSampleUser" required="required" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control" placeholder="Domain"
							value="" name="domain" required="required" />
					</div>
				</div>
				<div class="col">
					<div class="form-group">
							<input type="text" class="form form-control" placeholder="Country"
							th:value="${countryLastGMC}"  name="country" required="required" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control"
							placeholder="Domain TM" value="" name="domaintm"/>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<input type="text" class="form form-control"
							placeholder="Sup Feed Id" value="" name="supfeedid" />
					</div>
				</div>
			</div>
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport">Add</button>
			</div>
		</form>
	</div>
	<div class="form500">
		<form th:action="@{/admin/livegmc}" method=GET
			enctype="multipart/form-data">
			<div class="">
				<button id="livegmc" type="submit" class="btn btn-primary btnimport top10px">Live GMC</button>
			</div>
			</form>
	</div>
	<br>

	<table id="tablegmc" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>MerchantID</th>
				<th>Email</th>
				<th>Domain</th>
				<th>Country</th>
				<th>Status</th>
				<th>Action</th>
				<th>Date</th>
				<th>Note</th>
				<th>Sup Feed Id</th>
				<th>Project_id</th>
				<th>Suspended Date</th>
				<th>Business</th>
<!-- 				<th>Private_key_id</th> -->
				<!-- 			<th>Private_key</th> -->
<!-- 				<th>Client_email</th> -->
<!-- 				<th>Client_id</th> -->
<!-- 				<th>Auth_uri</th> -->
<!-- 				<th>Token_uri</th> -->
<!-- 				<th>Auth_provider_x509_cert_url</th> -->
<!-- 				<th>Client_x509_cert_url</th> -->
<!-- 				<th>Universe_domain</th> -->

			</tr>
		</thead>
		<tbody>
			<tr data-th-each="gmc : ${lsgmc}">
				<td><a
					th:href="@{/admin/gmc/{merchantId}(merchantId=${gmc.merchantId})}"><span
						data-th-text="${gmc.merchantId}" class="merchantId"></span></a> <br>
					<b th:if="${gmc.status == 'ENABLE'} or ${gmc.status} == 'REACTIVE'" data-th-text="${gmc.status}"
					class="live"></b> <b th:if="${gmc.status == 'suspended'} or ${gmc.status} == 'DISABLE'"
					data-th-text="${gmc.status}" class="limit"></b> <br> <b
					data-th-text="${gmc.eligibility}"></b> </td>
				<td class="accountSampleUser"><span
					data-th-text="${gmc.accountSampleUser}"></span>
					<br>
					<a th:href="'https://' + ${gmc.domain} + '/wp-admin'">Woo-Admin</a>
					<br> <b
					data-th-text="${gmc.revieweligibility}"></b>
<!-- 					<br> -->
<!-- 					<a -->
<!-- 					th:href="@{/admin/store/{domain}(domain=${gmc.domaintm})}"><span class="domaintm" -->
<!-- 						data-th-text="${gmc.domaintm}"></span></a> -->
					</td>
					
				<td ><a
					th:href="@{/admin/gmcdomain/{domain}(domain=${gmc.domain})}"><span class="domain" data-th-text="${gmc.domain}"></span></a>
					<br>
					<button type="button" id="btnEnableGMC"
						class="btn btn-primary btnEnableGMC" th:text="Enable"
						style="margin-top: 10px;"></button>
						<br>	
						<b><span
						class="resultenable"></span></b>
						</td>
				<td><span data-th-text="${gmc.country}"></span>/<b class="country" data-th-text="${gmc.vpsserver}"></b>
				<br>
				<button type="button" id="btnDisableGMC"
						class="btn btn-warning btnDisableGMC" th:text="Disable"
						style="margin-top: 10px;"></button>	
					 <br>	
						<b><span
						class="resultdisable"></span></b>
<!-- 					<input  -->
<!-- 						type="text" class="form form-control width250 gmcchangecountry" style="margin-top: 10px;" -->
<!-- 						th:value="${gmc.country}" name="gmcchangecountry" -->
<!-- 						placeholder="SetCountry"> -->
<!-- 					<button id="btnsetcountry" type="button" class="btn btn-info btnsetcountry" style="margin-top: 5px;" th:text="SetCountry"></button>	 -->
<!-- 					<b><span class = "resultcountry"></span></b> -->
				</td>
				<td class="status">
					<button type="button" id="btnCheckGMC"
						class="btn btn-info btnCheckGMC" th:text="Status"></button> <b><span
						class="resultgmc"></span></b> 
<!-- 						<input type="text" -->
<!-- 					class="form form-control countrytext" th:value="${gmc.country}" -->
<!-- 					name="countrytext" placeholder="Country" style="margin-top: 5px;"> -->
					<br>
					<button type="button" id="btnRequestReview"
						class="btn btn-warning btnRequestReview" th:text="RequestReview"
						style="margin-top: 10px;"></button> <b><span
						class="resultrequest"></span></b>
				</td>
				<td>
					<form th:action="@{/admin/deletegmc}" name="formdelete" method=POST>
						<input type="hidden" name="merchantId"
							th:value="${gmc.merchantId}">
						<button id="delete" type="submit" class="btn btn-danger"
							th:text="Delete"></button>
					</form>
					<button type="button" id="btnEditGMC"
						class="btn btn-primary btnEditGMC" data-toggle="modal"
						data-target="#editgmcmodal" th:text="Edit"
						style="margin-top: 10px;"></button>
					

				</td>
				<td class="type">
<!-- 				<span data-th-text="${gmc.type}"></span> -->
					<b
					data-th-text="${gmc.createddate}"></b>
					
					
				</td>
				<td>
					<input 
						type="text" class="form form-control width250 gmcnote" style="margin-top: 10px;"
						th:value="${gmc.note}" name="gmcnote"
						placeholder="Note">
					<button id="btnnote" type="button" class="btn btn-info btnnote" style="margin-top: 5px;" th:text="Note"></button> <b data-th-text="${gmc.note}"></b>
					<br>	
					<b><span class = "resultnote"></span></b>
					
						</td>
				<td>
				<input 
						type="text" class="form form-control width250 gmcsupfeedid" style="margin-top: 10px;"
						th:value="${gmc.supfeedid}" name="gmcsupfeedid"
						placeholder="SupFeedID">
					<button id="btnsupfeedid" type="button" class="btn btn-info btnsupfeedid" style="margin-top: 5px;" th:text="SetSup"></button> 	
					<b><span class = "resultsupfeedid"></span></b>
				</td>
				<td class="project_id">
				<span data-th-text="${gmc.project_id}"></span>
				</td>
				<td class="suspendeddate"><span data-th-text="${gmc.suspenddate}"></span>
				</td>
				<td>
					<input 
						type="text" class="form form-control width250 gmcbusiness" style="margin-top: 10px;"
						th:value="${gmc.businessname}" name="gmcbusiness" placeholder="Business">
					<button id="btngmcbusiness" type="button" class="btn btn-info btngmcbusiness" style="margin-top: 5px;" th:text="SetBusiness"></button>
					<b><span class = "resultbusiness"></span></b>
				</td>
<!-- 				<td class="merchant"><span data-th-text="${gmc.merchantId}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="private_key_id"><span -->
<!-- 					data-th-text="${gmc.private_key_id}"></span></td> -->
<!-- 							<td  class="private_key"> -->
<!-- 								<span data-th-text="${gmc.private_key}"></span> -->
<!-- 							</td> -->
<!-- 				<td class="client_email"><span -->
<!-- 					data-th-text="${gmc.client_email}"></span></td> -->
<!-- 				<td class="client_id"><span data-th-text="${gmc.client_id}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="auth_uri"><span data-th-text="${gmc.auth_uri}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="token_uri"><span data-th-text="${gmc.token_uri}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="auth_provider_x509_cert_url"><span -->
<!-- 					data-th-text="${gmc.auth_provider_x509_cert_url}"></span></td> -->
<!-- 				<td class="client_x509_cert_url"><span -->
<!-- 					data-th-text="${gmc.client_x509_cert_url}"></span></td> -->
<!-- 				<td class="universe_domain"><span -->
<!-- 					data-th-text="${gmc.universe_domain}"></span></td> -->

			</tr>
		</tbody>
	</table>
	<!-- Modal -->
	<div class="modal fade" id="editgmcmodal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h4 class="modal-title">Edit GMC</h4>
				</div>
				<form th:action="@{/admin/editgmc}" method=POST>
					<div class="modal-body">
						<div class="form-group">
							<label>MerchantId:</label> <input type="text"
								class="form form-control" id="idedit" name="idedit"
								required="required" readonly="readonly">
						</div>
						<div class="form-group">
							<label >Email:</label> <input type="text"
								class="form form-control" id="emailedit" name="emailedit"
								required="required">
						</div>
						<div class="form-group">
							<label >Country:</label> <input type="text"
								class="form form-control" id="countryedit" name="countryedit"
								required="required">
						</div>
						<div class="form-group">
							<label >DomainTM:</label> <input type="text"
								class="form form-control" id="domaintmedit" name="domaintmedit">
						</div>
						<div class="form-group">
							<label>Sup Feed API:</label> <input type="text"
								class="form form-control" id="supfeedapiedit"
								name="supfeedapiedit">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Edit</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>