<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Main
	Store</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/checkboxes/dataTables.checkboxes.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class="textcenter"><a
			th:href="@{/admin/store/{domain}(domain=${domain})}"><span th:text="${domain}"></span></a> <span
			th:text="${email}" class="left10px"></span></b> <b><a
			th:href="@{/admin/gmc/{merchantId}(merchantId=${merchantId})}"><span
				data-th-text="${merchantId}" class="left10px"></span></a></b>
	</div>
	<br>
	<div class="row left50px">
		<div class="col-2">
			<form th:action="@{/admin/feedgmcproduct}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="merchantid" name="merchantid"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddenproductstore" name="hiddenproductstore">
				<div class="row">
					<div class="col">
						<button id="btnnotm" type="submit" class="btn btn-info btnnotm"
							name="btnnotm">Feed Main Store</button>
					</div>
					<div class="col">
						<h4 class="text-primary pdtop10px" th:text="${message2}"></h4>
					</div>
				</div>
			</form>
		</div>
		<div class="col-2">
			<div class="col">
				<button type="button" id="btnaddmanualfeed"
					class="btn btn-primary btnaddmanualfeed" data-toggle="modal"
					data-target="#addmanualfeed">Add Manual Feed</button>
			</div>
			<div class="col">
				<h4 class="text-primary" th:text="${message}"></h4>
			</div>

		</div>
		<div class="col-6">
			<form th:action="@{/admin/setshippinginfo}" method=POST
			enctype="multipart/form-data">
<!-- 			<div class="col"> -->
				<input type="hidden" th:value="${merchantId}" id="merchantId" name="merchantId"
					required="required">
<!-- 			</div> -->
			<div class = "col">
				<div class= "row">
					<div class = "col-1">
					<label for="US">US/UK/DE:</label>
					</div>
					<div class = "col-1">
						<input class = "form form-control" type="number" id="fromus" name="fromus" min="1" max="99" 
						th:value="${#strings.equals(countryfeed, 'US') ? '5' : (#strings.equals(countryfeed, 'AU') ? '21' : 
						(#strings.equals(countryfeed, 'EU') ? '7' :(#strings.equals(countryfeed, 'CA') ? '8': '7')))}">
					</div>
					<div class = "col-1">
					<label for="US">~</label>
					</div>
					<div class = "col-1">
					<input class = "form form-control" type="number" id="tous" name="tous" min="1" max="99" 
					th:value="${#strings.equals(countryfeed, 'US') ? '7' : (#strings.equals(countryfeed, 'AU') ? '45':
					 (#strings.equals(countryfeed, 'EU') ? '12':(#strings.equals(countryfeed, 'CA') ? '16'  : '12')))}">
					</div>
					<div class = "col-1">
					<label for="JP">JP/VN:</label>
					</div>
					<div class = "col-1">
					<input class = "form form-control" type="number" id="fromjp" name="fromjp" min="1" max="99" 
					th:value="${#strings.equals(countryfeed, 'US') ? '16' : (#strings.equals(countryfeed, 'AU') ? '18': 
					(#strings.equals(countryfeed, 'EU') ? '12' :(#strings.equals(countryfeed, 'CA') ? '8'  : '12')))}">
					</div>
					<div class = "col-1">
					<label for="JP">~</label>
					</div>
					<div class = "col-1">
					<input class = "form form-control" type="number" id="tojp" name="tojp" min="1" max="99" 
					th:value="${#strings.equals(countryfeed, 'US') ? '27' : (#strings.equals(countryfeed, 'AU') ? '28': 
					(#strings.equals(countryfeed, 'EU') ? '26' :(#strings.equals(countryfeed, 'CA') ? '26'  : '26')))}">
					</div>
					<div class = "col-1">
						<select id="isus" class="form-select" name="isus" required="required">
						    <option value="GBP" th:selected="${#strings.equals(countryfeed, 'UK')}">GBP</option>
						    <option value="USD" th:selected="${#strings.equals(countryfeed, 'US')}">USD</option>
						    <option value="AUD" th:selected="${#strings.equals(countryfeed, 'AU')}">AUD</option>
						    <option value="EUR" th:selected="${#strings.equals(countryfeed, 'EU')}">EUR</option>
						    <option value="CAD" th:selected="${#strings.equals(countryfeed, 'CA')}">CAD</option>
						    <option value="PLN" th:selected="${#strings.equals(countryfeed, 'PL')}">PLN</option>
						</select>
					</div>
					<div class="col-1">
					<button type="submit" id="btnSetShipping"
						class="btn btn-primary btnSetShipping">Set Shipping</button>
					</div>
				</div>
			</div>
			
			</form>
		</div>
		
	</div>

	<div class="row top10px form900">
<!-- 		<div class = "col-3"> -->
		
<!-- 		<form th:action="@{/admin/getmainproduct}" method=GET -->
<!-- 			enctype="multipart/form-data"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-4"> -->
<!-- 					<input type="text" th:value="${domain}" th:text="${domain}" -->
<!-- 						class="form form-control" id="domain" name="domain" -->
<!-- 						required="required" readonly="readonly"> -->
<!-- 				</div> -->
<!-- 				<div class="col-4"> -->
<!-- 					<button id="btngetmainproduct" type="submit" -->
<!-- 						class="btn btn-info btngetmainproduct" name="btngetmainproduct">Get -->
<!-- 						Products</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</form> -->
<!-- 		</div> -->
		<div class = "col-3">
		<form th:action="@{/admin/setvpsserver}" method=POST
			enctype="multipart/form-data">
			<div class="row">
				<input type="hidden" th:value="${merchantId}" id="merchantId" name="merchantId"
					required="required">
				<div class="col">
					<input type="text"
						class="form form-control" id="vpsserver" name="vpsserver"
						required="required">
				</div>
				<div class="col">
					<button id="btnsetvpsserver" type="submit"
						class="btn btn-info btnsetvpsserver" name="btnsetvpsserver">Set VPS</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	<br>
	<table id="tablefeedgmc" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>Feed Id</th>
				<th>GMC ID</th>
				<th>Name</th>
				<th>Target Country</th>
				<th>Language</th>
				<th>Link</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="feedgmc : ${lsdataFeedGMC}">
				<td class="feedid" data-th-text="${feedgmc.feedid}"></td>
				<td class="gmcid" data-th-text="${merchantId}"></td>
				<td class="feedname" data-th-text="${feedgmc.name}"></td>
				<td class="feedcountry">
					<input 
						type="text" class="form form-control width250 gmccountry"
						th:value="${feedgmc.country}" name="gmccountry"
						placeholder="Note">
					<button id="btncountry" type="button" class="btn btn-info btncountry" style="margin-top: 5px;" th:text="SetCountry"></button>	
					<b><span class = "resultupfetch"></span></b>
				</td>
				<td>
					<span class="feedlanguage" data-th-text="${feedgmc.language}"></span>
					<div class="top10px">
						<button id="btndelete" type="submit"
							class="btn btn-danger btndelete" th:text="DeleteFeed"></button>
					</div> <b><span class="messagedelete"></span></b>				
				</td>
				<td><button type="button" class = "copylink btn btn-info" th:text = "Copy"></button> <span class="feedlink" data-th-text="${feedgmc.link}"></span></td>
				<td>
					<button id="btnfetch" type="submit" class="btn btn-info btnfetch"
						th:text="Fetch"></button> <b><span class="messagefetch"></span></b>
					
				</td>
			</tr>
		</tbody>
	</table>
	<br>
<!-- 	<table id="tableproductgmcmain" -->
<!-- 		class="table table-striped table-bordered" cellspacing="0"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th></th> -->
<!-- 				<th>Id</th> -->
<!-- 				<th>Domain</th> -->
<!-- 				<th>ProductID</th> -->
<!-- 				<th>Title</th> -->
<!-- 				<th>Price</th> -->
<!-- 				<th>Feeded TM</th> -->
<!-- 				<th>GMC Product</th> -->
<!-- 				<th>GMC Id</th> -->
<!-- 				<th>Image</th> -->
<!-- 				<th>Variant Name</th> -->
<!-- 				<th>Parent ID</th> -->
<!-- 				<th>Permalink</th> -->
<!-- 				<th>Category</th> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr data-th-each="producttm : ${lsproductmain}"> -->
<!-- 				<td></td> -->
<!-- 				<td class="id" data-th-text="${producttm.id}"></td> -->
<!-- 				<td class="domain"><span data-th-text="${producttm.domain}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="productid"><span -->
<!-- 					data-th-text="${producttm.productid}"></span></td> -->
<!-- 				<td class="title"><span data-th-text="${producttm.title}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="price"><span data-th-text="${producttm.price}"></span></td> -->
<!-- 				<td class="feedstatus"><span -->
<!-- 					data-th-text="${producttm.feedstatus}"></span></td> -->
<!-- 				<td class="feedgmcid"><span -->
<!-- 					data-th-text="${producttm.feedgmcid}"></span></td> -->
<!-- 				<td class="listgmc"><span data-th-text="${producttm.listgmc}"></span></td> -->
<!-- 				<td class="image"><span data-th-text="${producttm.image}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="variant"><span data-th-text="${producttm.variant}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="parentid"><span data-th-text="${producttm.parentid}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="slug"><span data-th-text="${producttm.permalink}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="category"><span data-th-text="${producttm.category}"></span> -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->
	<div class="modal fade" id="addmanualfeed" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h4 class="modal-title">Add manual Feed</h4>
				</div>
				<form th:action="@{/admin/addmanualfeed}" method=POST>
					<div class="modal-body">
						<div class="form-group">
							<label for="id">MerchantId:</label> <input type="text"
								th:value="${merchantId}" th:text="${merchantId}"
								class="form form-control" id="merchantId" name="merchantId"
								required="required" readonly="readonly">
						</div>
						<div class="form-group">
							<label for="name">Name:</label> <input type="text" value = "SPS"
								class="form form-control" id="name" name="name">
						</div>
						<div class="form-group">
							<label for="Language">Language:</label> <input type="text" value = "en" class="form form-control"
								id="language" name="language" required="required">
						</div>
						<div class="form-group">
							<label for="Country">Country:</label> <input type="text" th:value="${country}"
								class="form form-control" id="country" name="country"
								required="required">
						</div>
						<div class="form-group">
							<label for="Link">Link feed:</label> <input type="text"
								class="form form-control" id="link" name="link"
								required="required">
						</div>
						<div class="form-group">
							<label for="includeads">Include ads:</label> <input type="text" value = "All"
								class="form form-control" id="includeads" name="includeads"
								required="required">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
		<script type="text/javascript"
		th:src="@{/js/checkboxes/dataTables.checkboxes.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>