<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">GMCFeed</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/checkboxes/dataTables.checkboxes.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class="textcenter"><span
				th:text="${domain}"></span> <span th:text="${email}"
			class="left10px"></span></b> <b><a
			th:href="@{/admin/gmc/{merchantId}(merchantId=${merchantId})}"><span
				data-th-text="${merchantId}" class="left10px"></span></a></b>
	</div>
	<br>
	<div class="form900">
		<form th:action="@{/admin/getgmcproduct}" method=GET
			enctype="multipart/form-data">
			<div class="row">
				<div class="col">
					<label>GMC ID: </label>
				</div>
				<div class="col">
					<input type="text" class="form form-control"
						th:value="${merchantId}" name="merchantId" required="required"
						readonly="readonly" />
				</div>
				<div class="col-2">
					<input type="number" class="form form-control" name="minprice" required="required" placeholder="Min Price" th:value="${minvalue}"/>
				</div>

				<div class="col">
					<button id="getproduct" type="submit"
						class="btn btn-info btnimport" name="getproduct">Get GMC
						Product</button>
				</div>
				<div class="col">
					<button id="deleteproduct" type="submit"
						class="btn btn-danger btndelete left10px" name="deleteproduct">Delete
						Product</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row top10px">
		<div class="col-3">
			<button type="button" id="btnFeedAPI"
						class="btn btn-primary btnFeedAPI" data-toggle="modal"
						data-target="#editgmcapi" th:text="FeedAPI"
						style="margin-left: 20px;"></button>
		</div>
		<div class="col-2">
			<form th:action="@{/admin/feedsuptm}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="merchantid" name="merchantid"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddentm" name="hiddentm"> <input type="hidden"
					id="hiddenproductgmc" name="hiddenproductgmc">
				<div class="row">
					<div class="col-3">
						<button id="btnfeedsuptm" class="btn btn-primary" type="submit"
							th:text="FeedSupTM"></button>
					</div>
					<div class="col-3">
						<div class="pdtop10px">
							<input type="checkbox" class="form-check-input" id="cbtm"
								name="cbtm" value="cbtm">
						</div>
						<label class="form-check-label" for="cbtm">Include
							Redirect</label>
					</div>
					<div class="col">
						<h3 class="text-primary pdtop10px" th:text="${message}"></h3>
					</div>
				</div>
			</form>
		</div>
		<div class="col-3">
			<form th:action="@{/admin/feedsuptm2}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="merchantid" name="merchantid"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddenproductgmc2" name="hiddenproductgmc2">
				<div class="row">
					<div class="col-3">
						<button id="btnfeedsuptm2" class="btn btn-primary" type="submit"
							th:text="FeedSecond"></button>
					</div>
					<div class="col-6">
						<h3 class="text-primary pdtop10px" th:text="${message2}"></h3>
					</div>
				</div>
			</form>
		</div>
		<div class="col-2">
			<form th:action="@{/admin/delelesupfeed}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="merchantid" name="merchantid"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddenproductgmcdelete" name="hiddenproductgmcdelete">
				<div class="row">
					<div class="col-6">
						<button id="btndeletesupfeed" class="btn btn-danger" type="submit"
							th:text="DeleteSupFeed"></button>
					</div>
					<div class = "col-2">
						<div class="pdtop10px">
						<input  type="checkbox" class="form-check-input" id="cball"
								name="cball" value="cball" checked="checked">
						<label class="form-check-label" for="cball">All</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-1">
			<form th:action="@{/admin/deletegmcproductmain}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="merchantid" name="merchantid"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddenproductgmcdeletemain" name="hiddenproductgmcdeletemain">
				<div class="row">
					<div class="col-2">
						<button id="btndeletemaingmc" class="btn btn-danger" type="submit">Delete
							GMC Products</button>
					</div>
				</div>
			</form>
		</div>
		
<!-- 		<div class="col-1"> -->
<!-- 			<form th:action="@{/admin/updategmcproductmain}" method=POST -->
<!-- 				enctype="multipart/form-data"> -->
<!-- 				<input type="hidden" id="merchantid" name="merchantid" -->
<!-- 					th:value="${merchantId}"> <input type="hidden" -->
<!-- 					id="hiddenupdategmcproduct" name="hiddenupdategmcproduct"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-2"> -->
<!-- 						<button id="btnupdatepricegmc" class="btn btn-info" type="submit">Update -->
<!-- 							Price</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</form> -->
<!-- 		</div> -->
	</div>
	<br>
	<table id="tableproductmc" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>GMC</th>
				<th>Title</th>
				<th>Price</th>
				<th>Feeded TM</th>
				<th>TM ProductID</th>
				<th>TM Title</th>
				<th>GMC ProductID</th>
				<th>OfferID</th>
				<th>Country</th>
				<th>FeedLabel</th>
				<th>Parent ID</th>
				<th>Currency</th>
				<th>Image</th>
				<th>Link</th>
				<th>Domain</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="productgmc : ${lsProductGMC}">
				<td></td>
				<td data-th-text="${productgmc.id}" class="id"></td>
				<td class="gmcid"><span data-th-text="${productgmc.gmcid}"></span></td>
				<td class="title"><span data-th-text="${productgmc.title}"></span></td>
				<td class="price"><span data-th-text="${productgmc.price}"></span>
<!-- 					<input type="text" class="form form-control pricegmc" -->
<!-- 					style="margin-top: 5px;" th:value="${productgmc.price}" -->
<!-- 					name="pricegmc" placeholder="Price"> -->
<!-- 					<button id="btnpricegmc" type="button" -->
<!-- 						class="btn btn-info btnpricegmc" style="margin-top: 5px;" -->
<!-- 						th:text="Update"></button> -->
<!-- 						<br><b><span class = "resultgmc"></span></b> -->
				</td>
				<td class="feedtm"><span data-th-text="${productgmc.supfeedtm}"></span></td>
				<td class="producttmid"><span
					data-th-text="${productgmc.producttmid}"></span></td>
				<td class="producttmtitle"><span
					data-th-text="${productgmc.producttmtitle}"></span></td>
				<td class="productid"><span
					data-th-text="${productgmc.productid}"></span></td>
				<td class="offerid"><span data-th-text="${productgmc.offerid}"></span></td>
				<td class="country"><span data-th-text="${productgmc.country}"></span></td>
				<td class="feedlabel"><span
					data-th-text="${productgmc.feedlabel}"></span></td>
				<td class="parentid"><span
					data-th-text="${productgmc.parentid}"></span></td>
					<td class="currency" data-th-text="${productgmc.currency}"></td>
				<td class="image" data-th-text="${productgmc.image}"></td>
				<td class="limk"><span data-th-text="${productgmc.limk}"></span></td>
				<td class="domain"><span data-th-text="${productgmc.domain}"></span></td>
				<td class="category"><span
					data-th-text="${productgmc.category}"></span></td>
			</tr>
		</tbody>
	</table>
	<br>
<!-- 	<table id="tableproducttmfeed" -->
<!-- 		class="table table-striped table-bordered" cellspacing="0"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th></th> -->
<!-- 				<th>Id</th> -->
<!-- 				<th>Domain</th> -->
<!-- 				<th>ProductID</th> -->
<!-- 				<th>Title</th> -->
<!-- 				<th>Price</th> -->
<!-- 				<th>Feeded TM</th> -->
<!-- 				<th>GMC Product</th> -->
<!-- 				<th>GMC Id</th> -->
<!-- 				<th>Image</th> -->
<!-- 				<th>Variant Name</th> -->
<!-- 				<th>Parent ID</th> -->
<!-- 				<th>Permalink</th> -->
<!-- 				<th>Category</th> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr data-th-each="producttm : ${lsproducttm}"> -->
<!-- 				<td></td> -->
<!-- 				<td class="id" data-th-text="${producttm.id}"></td> -->
<!-- 				<td class="domain"><span data-th-text="${producttm.domain}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="productid"><span -->
<!-- 					data-th-text="${producttm.productid}"></span></td> -->
<!-- 				<td class="title"><span data-th-text="${producttm.title}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="price"><span data-th-text="${producttm.price}"></span></td> -->
<!-- 				<td class="feedstatus"><span -->
<!-- 					data-th-text="${producttm.feedstatus}"></span></td> -->
<!-- 				<td class="feedgmcid"><span -->
<!-- 					data-th-text="${producttm.feedgmcid}"></span></td> -->
<!-- 				<td class="listgmc"><span data-th-text="${producttm.listgmc}"></span></td> -->
<!-- 				<td class="image"><span data-th-text="${producttm.image}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="variant"><span data-th-text="${producttm.variant}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="parentid"><span data-th-text="${producttm.parentid}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="slug"><span data-th-text="${producttm.permalink}"></span> -->
<!-- 				</td> -->
<!-- 				<td class="category"><span data-th-text="${producttm.category}"></span> -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->
	<!-- Modal -->
	<div class="modal fade" id="editgmcapi" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h4 class="modal-title">Update API</h4>
				</div>
				<form th:action="@{/admin/updategmcapi}" method=POST>
					<input type="hidden" id="merchantidmodal" name="merchantidmodal"
					th:value="${merchantId}"> <input type="hidden"
					id="hiddenproductgmcmodal" name="hiddenproductgmcmodal">
					<div class="modal-body">
						<div class="form-group">
							<label >Title:</label> <input type="text"
								class="form form-control" id="titlemodal" name="titlemodal">
						</div>
						<div class="form-group">
							<label >Description:</label> <textarea
								class="form form-control" id="descriptionmodal" name="descriptionmodal"></textarea>
						</div>
						<div class="form-group">
							<label >Size:</label> <input type="text"
								class="form form-control" id="sizemodal" name="sizemodal">
						</div>
						<div class="form-group">
							<label >Gtin</label> <input type="text"
								class="form form-control" id="gtinmodal" name="gtinmodal">
						</div>
						<div class="form-group">
							<label >Image Link</label> <input type="text"
								class="form form-control" id="imagelink" name="imagelink">
						</div>
						<div class="form-group">
							<label >Brand</label> <input type="text"
								class="form form-control" id="brand" name="brand">
						</div>
						<div>
							<label >Supfeed</label>
							<select class="form form-control" name="supfeedid" required="required">
								<option th:each="supfeedid : ${lsSupfeed}"
									th:value="${supfeedid}" th:text="${supfeedid}"></option>
							</select>
						</div>
						<div class="form-group">
							<label >Additional Images:</label> <textarea
								class="form form-control" id="additionalimage" name="additionalimage"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button id = "btnupdateapigmc" type="submit" class="btn btn-primary btnupdateapigmc">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/checkboxes/dataTables.checkboxes.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>