<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Dispute</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
</head>
<body>
	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> List Dispute</b>
	</div>
	<form th:action="@{/admin/disputecheck}" method=GET
		enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="checkdispute" type="submit" class="btn btn-info btncheckdispute">Check</button>
			</div>
		</div>
	</form>
	<table id="tableorderdispute" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>Id</th>
				<th>Order ID</th>
				<th>Address</th>
				<th>Image</th>
				<th>Product Name</th>
				<th>Status</th>
				<th>Supplier</th>
				<th>Tracking</th>
				<th>Update Track</th>
				<th>Return Refund</th>
				<th>Refund</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="order : ${lsDispute}">
				<td data-th-text="${order.id}" class="id"></td>
				<td data-th-text="${order.oname}" class="name"></td>
				<td class="address">
					<p>
						Name : <b data-th-text="${order.addressname}"></b>
					</p>
					<p>
						Address 1: <b data-th-text="${order.address1}"></b>
					</p>
					<p>
						Address 2: <b data-th-text="${order.address2}"></b>
					</p>
					<p>
						Phone: <b data-th-text="${order.phone}"></b>
					</p>
					<p>
						City: <b data-th-text="${order.city}"></b>
					</p>
					<p>
						Zip: <b data-th-text="${order.zip}"></b>
					</p>
					<p>
						Province: <b data-th-text="${order.province}"></b>
					</p>
					<p>
						Country: <b data-th-text="${order.country}"></b>
					</p>
				</td>
				<td class="image"><img th:src="${order.imageurl}"></td>
				<td data-th-text="${order.productname}" class="product"></td>
				<td><span data-th-text="${order.transaction_id}"></span>
					<span data-th-text="${order.dispute_id}"></span>
					<br>
					<span data-th-text="${order.dispute_reason}" class="Cancel"></span>
					<span data-th-text="${order.dispute_status}" class="Warning"></span>
					<span data-th-text="${order.dispute_state}" class="Warning"></span>
					<span data-th-text="${order.pay_pal_account_id}"></span>
					<span data-th-text="${order.seller_response_due_date}"></span>
					<span th:if="${order.returned_by_customer == 'CUSTOMER RETUNRED'}" data-th-text="${order.returned_by_customer}" class="Cancel"></span>
					<br>
					<span th:text="${#dates.format(order.createDate, 'dd-MMM-yyyy')}"></span>
				</td>
				<td data-th-text="${order.supplier}" class="supplier"></td>
				<td data-th-text="${order.trackingnumber}" class="trackingnumber"></td>
				<td>
					<form th:action="@{/admin/updatetrack}" name="formtrack" method=POST enctype="multipart/form-data"
						style="margin-top: 20px;">
						<input type="hidden" name="id" th:value="${order.id}">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<span class  = "bold">Tên dịch vụ:</span>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="service" required="required" class = "fileevidence">
							</div>
						</div>
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<span class  = "bold">Track Id:</span>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="track" required="required" class = "fileevidence">
							</div>
						</div>
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<span class  = "bold">Note:</span>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="note" required="required" class = "fileevidence">
							</div>
						</div>
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<span class  = "bold">Ảnh JPG:</span>
							</div>
							<div class="col-6 col-md-8">
								<input type="file" name="evidence" class = "fileevidence">
							</div>
						</div>
						
						<button id="update" type="submit" class="btn btn-info"
							th:text="Update" style="margin-top: 20px;"></button>
					</form>
				</td>
				<td>
					<form th:action="@{/admin/senddisputemessage}" name="formtrack" method=POST
						style="margin-top: 20px;">
						<input type="hidden" name="id" th:value="${order.id}">
						<input type="text" name="message" placeholder="Message" required="required" >
						<button id="update" type="submit" class="btn btn-info"
							th:text="Send" style="margin-top: 20px;"></button>
					</form>
				</td>
				<td>
					<form th:action="@{/admin/refunddispute}" name="formrefund" method=POST
						style="margin-top: 20px;">
						<input type="hidden" name="id" th:value="${order.id}">
						<button id="refund" type="submit" class="btn btn-danger"
							th:text="Refund"></button>
					</form>
					<form th:action="@{/admin/resolveddispute}" name="resolvedDispute" method=POST
						style="margin-top: 20px;">
						<input type="hidden" name="id" th:value="${order.id}">
						<button id="resolved" type="submit" class="btn btn-danger"
							th:text="Resolved"></button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>