<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>List Supplier</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>
	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> List Supplier</b>
	</div>
	<table id="tablesupplier" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>User name</th>
				<th>Full name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="supplier : ${lsSupplier}">
				<td data-th-text="${supplier.username}"></td>
				<td data-th-text="${supplier.fullname}"></td>
				<td data-th-text="${supplier.address}"></td>
				<td data-th-text="${supplier.phone}"></td>
				<td>
					<form th:action="@{/admin/deletesupplier}" name="formdelete"
						method=POST>
						<input type="hidden" name="supplier" th:value="${supplier.username}">
						<button id="delete" type="submit" class="btn btn-danger"
							th:text="Delete"></button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>