<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Login</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login2.css}">

</head>
<body>
	
<!-- 	<div class="container login-container"> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-md-6 .col-centered login-form-2"> -->
<!-- 				<h3>Login</h3> -->
<!-- 				<form th:action="@{/login}" method=POST> -->
<!-- 					<div class="form-group"> -->
<!-- 						<input type="text" class="form-control" placeholder="Your Account *" -->
<!-- 							value="" name="username" /> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<input type="password" class="form-control" name="password" -->
<!-- 							placeholder="Your Password *" value="" /> -->
<!-- 					</div> -->
<!-- 					<div class="form-group"> -->
<!-- 						<input type="submit" class="btnSubmit" value="Login" /> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="login-box">
  <h2>Login</h2>
  <form th:action="@{/login}" id = "loginform" method=POST>
    <div class="user-box">
      <input type="text" name="username" required="required">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="required">
      <label>Password</label>
    </div>
    <a href="javascript:{}" onclick="document.getElementById('loginform').submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Login
    </a>
  </form>
</div>
<!-- 	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script> -->
	<script type="text/javascript" th:src="@{/node_modules/jquery/dist/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>