<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Paypal</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> Paypal</b>
	</div>
	<div class = "left40p">
	<form th:action="@{/admin/uploadpaypal}" method=POST
		enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="btnimport">
				<input type="file" name="file" id="file" class="form-control"
					required>
			</div>
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport">Import</button>
			</div>
		</div>
	</form>
	</div>
	<br>
	<form th:action="@{/admin/addpaypal}" method=POST>
		<div class="form-group">
			<input type="email" class="form form-control" placeholder="Email account Paypal"
				value="" name="email" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Client ID"
				value="" name="clientid" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Client Secret"
				value="" name="clientsecret" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Username"
				value="" name="username" required="required"/>
		</div>
		<div class="form-group">
			<input type="password" class="form form-control" placeholder="Password"
				value="" name="password" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Signature"
				value="" name="signature" required="required" />
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="nhà,phường,thành phố,tỉnh,postal,code(DE)"
				value="" name="address" required="required" />
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Add" />
		</div>
	</form>
	<br>
	
	<table id="tablepaypal" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Username</th>
			<th>Password</th>
			<th>Store</th>
			<th>CaptureTotal</th>
			<th>WithDraw</th>
			<th>Address</th>
			<th>Action</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr data-th-each="paypalaccount : ${lsPP}">
			<td  class="id">
				<span data-th-text="${paypalaccount.id}"></span>
			</td>
			<td class="email">
				<span data-th-text="${paypalaccount.email}"></span>
				<br>
				<b data-th-text="${paypalaccount.active}"></b>
				<br>
				<b th:if = "${paypalaccount.status == 'LIVE'}" data-th-text="${paypalaccount.status}" class = "live"></b>
				<b th:if = "${paypalaccount.status == 'LIMIT'}" data-th-text="${paypalaccount.status}" class = "limit"></b>
			</td>
			<td >
				<span data-th-text="${paypalaccount.username}" class="username"></span>
				<br>
				<b data-th-text="${paypalaccount.lastdomain}"></b>
			</td>
			<td data-th-text="${paypalaccount.password}" class="password"></td>
			<td class="store">
				<span data-th-text="${paypalaccount.store}"></span>
				<br>
				<b data-th-text="${paypalaccount.queue}"></b>
				<br>
				<b data-th-text="${paypalaccount.note}"></b>
			</td>
			<td data-th-text="${#numbers.formatDecimal(paypalaccount.capturetotal,0,'COMMA',2,'POINT')}" class="capturetotal"></td>
			<td>
				<b data-th-text="${paypalaccount.queue}"></b>
				<br>
				<span data-th-text="${paypalaccount.withdraw}"></span>
			</td>
<!-- 			<td data-th-text="${#numbers.formatDecimal(paypalaccount.sumprice,0,'COMMA',2,'POINT')}" class="sumprice"></td> -->
			<td>
				<span data-th-text="${paypalaccount.address}" class="address"></span>
				<br>
				<button id="btnCheckPaypal" type="button" class="btn btn-info btnCheckPaypal" th:text ="Check" style="margin-top: 5px;"></button>
				<br>
				<b><span class = "resultcheckpp"></span></b>
			</td>
			<td>
				<form th:action="@{/admin/deletepaypal}" name ="formdelete" method = POST>
					<input type="hidden" name="id" th:value="${paypalaccount.id}">
					<button id="delete" type="submit" class="btn btn-danger" th:text ="Delete"></button>
				</form>
				<button type="button" id = "btnEditPP" class = "btn btn-primary btnEditPP" data-toggle="modal" data-target="#editppmodal" th:text = "Edit" style="margin-top: 10px;"></button>
				<br>
				<input type = "text" class="form form-input notetext" name="notetext" placeholder="Note" style="margin-top: 10px;"/>
				<button id="note" type="button" class="btn btn-info btnNotePaypal" th:text ="Note" style="margin-top: 5px;"></button>
				<b><span class = "resultnotepp"></span></b>
			</td>
			<td>
				<form th:action="@{/admin/activepaypal}" name ="formactive" method = POST>
					<input type="hidden" name="id" th:value="${paypalaccount.id}">
					<button id="active" type="submit" class="btn btn-primary" th:text ="Active"></button>
				</form>
<!-- 				<form th:action="@{/admin/deactivepaypal}" name ="formdeactive" method = POST> -->
					<input type="hidden" name="id" th:value="${paypalaccount.id}">
					<button id="deactive" type="submit" class="btn btn-warning btnDeactivePaypal" th:text ="Deactive" style="margin-top: 10px;"></button>
					<button id="queue" type="submit" class="btn btn-success btnQueue" th:text ="Queue" style="margin-top: 10px;"></button>
					<b><span class = "result"></span></b>
<!-- 				</form> -->
			</td>
		</tr>
	</tbody>
	</table>
	
	<!-- Modal -->
  <div class="modal fade" id="editppmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Edit paypal</h4>
        </div>
        <form th:action="@{/admin/editpp}" method=POST>
        <div class="modal-body">
			<div class="form-group">
			  <label for="id">Id:</label>
			  <input type="text" class="form form-control" id="idedit" name = "idedit" required="required">
			</div>
			<div class="form-group">
			  <label for="email">Email:</label>
			  <input type="text" class="form form-control" id="emailedit" name = "emailedit" required="required">
			</div>
			<div class="form-group">
			  <label for="Username">Username:</label>
			  <input type="text" class="form form-control" id="usernameedit" name = "usernameedit" required="required">
			</div>
			<div class="form-group">
			  <label for="Password">Password:</label>
			  <input type="text" class="form form-control" id="passwordedit" name = "passwordedit" required="required">
			</div>
			<div class="form-group">
			  <label for="Address">Address:</label>
			  <input type="text" class="form form-control" id="addressedit" name = "addressedit" required="required">
			</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>