<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Shopify</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/select2/dist/css/select2.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/checkboxes/dataTables.checkboxes.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class="textcenter"> Manage Products</b>
		<div><h3 class="text-primary pdtop10px textcenter" th:text="${message}"></h3></div>
	</div>
	<div class="form500">
		<form th:action="@{/admin/importproductshopify}" method=POST
			enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" class="form form-control" name="label"
					placeholder="Label" />
			</div>
			<div class="row">
				<div class="col-3">
					<label>File CSV:</label>
				</div>
				<div class="col-6">
					<input type="file" name="file" id="file" class="form form-control"
						required>
				</div>
				<div class="col">
					<button id="btnimport" type="submit" class="btn btn-info btnimport"
						name="importproduct">Import</button>
				</div>
			</div>
		</form>
	</div>
	<div class="row top10px">
		<div class="col-2">
			<form th:action="@{/admin/deleteproductshopify}" method=POST
				enctype="multipart/form-data">
				<input type="hidden" id="hiddenproductshopify"
					name="hiddenproductshopify">
				<button id="btndeleteshopify" type="submit"
					class="btn btn-danger btndeleteshopify left10px" name="btndeleteshopify">Delete
					products</button>
			</form>
		</div>
		<div class="col-6">
			<form th:action="@{/admin/uploadwoo}" method=POST
				enctype="multipart/form-data">
				<div class = "row">
				<div class= "col-1">
					<label>Store: </label>
				</div>
				<div class = "col-5">
					<input type="hidden" id="hiddenproductupload"
					name="hiddenproductupload">
					<select class="form-select storeselect" id="storeselect" name="storeselect">
						<option th:each="store : ${lsstore}" th:value="${store}"
							th:text="${store}"></option>
					</select>
				</div>
				<div class = "col-3">
					<button id="btnupwoo" type="submit"
					class="btn btn-info btnupwoo" name="upwoo">Upload Store</button>
				</div>
				</div>
			</form>
		</div>
	</div>
	<br>

	<table id="tableproductshopify"
		class="table table-striped table-bordered" cellspacing="0">
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>Handle</th>
				<th>Title</th>
				<th>Store</th>
				<th>Vendor</th>
				<th>Product Category</th>
				<th>Type</th>
				<th>Label</th>
				<th>Tags</th>
				<th>Option1 Name</th>
				<th>Option1 Value</th>
				<th>Option2 Name</th>
				<th>Option2 Value</th>
				<th>Variant SKU</th>
				<th>Qty</th>
				<th>Price</th>
				<th>Price Compare</th>
				<th>Variant Barcode</th>
				<th>Image</th>
				<th>Image Source</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="product : ${lsProduct}">
				<td></td>
				<td class="id" data-th-text="${product.id}"></td>
				<td class="handle" data-th-text="${product.handle}"></td>
				<td class="title" data-th-text="${product.title}"></td>
				<td class="store" data-th-text="${product.store}"></td>
				<td class="vendor" data-th-text="${product.vendor}"></td>
				<td class="category" data-th-text="${product.category}"></td>
				<td class="type" data-th-text="${product.type}"></td>
				<td class="label" data-th-text="${product.label}"></td>
				<td class="tags" data-th-text="${product.tags}"></td>
				<td class="option1name" data-th-text="${product.option1name}"></td>
				<td class="option1value" data-th-text="${product.option1value}"></td>
				<td class="option2name" data-th-text="${product.option2name}"></td>
				<td class="option2value" data-th-text="${product.option2value}"></td>
				<td class="variantsku" data-th-text="${product.variantsku}"></td>
				<td class="qty" data-th-text="${product.qty}"></td>
				<td class="price" data-th-text="${product.price}"></td>
				<td class="pricecompare" data-th-text="${product.pricecompare}"></td>
				<td class="barcode" data-th-text="${product.barcode}"></td>
				<td class="image"> <img th:src="${product.image}"></td>
				<td class="imagesource" data-th-text="${product.image}"></td>
			</tr>
		</tbody>
	</table>


	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/checkboxes/dataTables.checkboxes.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/select2/dist/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/productshopify.js}"></script>
</body>
</html>