<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout_backend}">
<head>
<title>Profile</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>
<ul>
   <li><a th:href="@{/logout}">Log out</a></li>
   <li><a th:href="@{/supplier}">Picked order</a></li>
   <li><a th:href="@{/supplier/profile}">Profile</a></li>
 </ul>
<h1 th:inline="text" >
  	 你好  <small th:text="${name}"></small>
</h1>
<br>
	<div class="container">
		<div class="col-middle">
			<form th:action="@{/supplier/updateprofile}" method=POST
				enctype="multipart/form-data">
				<input type="text" class="form form-control" th:value = "${user.username}" placeholder="username" disabled="disabled">
				<br>
				<input type="text" class="form form-control" th:value = "${user.fullname}" name= "fullname" placeholder="fullname">
				<br>
				<input type="text" class="form form-control" th:value = "${user.phone}" name = "phone" placeholder="phone">
				<br>
				<input type="text" class="form form-control" th:value = "${user.address}" name = "address" placeholder="address">
				<br>
				<select id = "product" name = "product" required="required">
					<option value="SNEAKER">SNEAKER</option>
					<option value="TOY">TOY</option>
				</select>
				<br>
				<button id="update" type="submit" class="btn btn-info" th:text ="Update"></button>
			</form>
		</div>
		<br>
		<h3>Update password</h3>
		<form th:action="@{/supplier/changepassword}" method=POST
				enctype="multipart/form-data">
				<input type="text" class="form form-control" name = "newpassword" placeholder="New password" required="required">
				<br>
				<button id="update" type="submit" class="btn btn-info" th:text ="Change"></button>
		</form>
	</div>
</body>
</html>