<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Proxy Check Daily</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>
	<ul>
		<li><a th:href="@{/logout}">Log out</a></li>
		<li><a th:href="@{/admin}">Trang chủ</a></li>
		<li><a th:href="@{/admin/all}">Xem toàn bộ đơn hàng</a></li>
		<li><a th:href="@{/admin/store}">Quản lý cửa hàng</a></li>
		<li><a th:href="@{/admin/paypal}">Quản lý Paypal</a></li>
		<li><a th:href="@{/admin/dispute}">Quản lý Dispute</a></li>
		<li><a th:href="@{/admin/listsupplier}">Quản lý supplier</a></li>
		<li><a th:href="@{/admin/returnedorder}">Hàng trả lại</a></li>
	</ul>
	<br><br>
	<table id="tableproxycheck" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
			<tr>
				<th>License</th>
				<th>Date</th>
				<th>Round</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="proxy : ${proxyCheck}">
				<td data-th-text="${proxy.license}"></td>
				<td data-th-text="${proxy.createDate}"></td>
				<td data-th-text="${proxy.round}"></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>