<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Register</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
	
	<div class="container login-container">
		<div class="row">
			<div class="col-md-6 .col-centered login-form-2">
				<h3>Login</h3>
				<form th:action="@{/register}" method=POST>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your Account *"
							value="" name="username" required="required"/>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password"
							placeholder="Your Password *" value="" required="required"/>
					</div>
					<div class="form-group">
						<select id = "product" name = "product" required="required">
							<option value="SNEAKER">SNEAKER</option>
							<option value="TOY">TOY</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="phone"
							placeholder="Phone" value="" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="fullname"
							placeholder="Full name" value=""/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="address"
							placeholder="Address" value=""/>
					</div>
					<div class="form-group">
						<input type="submit" class="btnSubmit" value="Register" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>