<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css" th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css" th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
</head>
<body>
<ul>
   <li><a th:href="@{/logout}">Log out</a></li>
		<li><a th:href="@{/admin}">Trang chủ</a></li>
		<li><a th:href="@{/admin/all}">Xem toàn bộ đơn hàng</a></li>
		<li><a th:href="@{/admin/store}">Quản lý cửa hàng</a></li>
		<li><a th:href="@{/admin/paypal}">Quản lý Paypal</a></li>
		<li><a th:href="@{/admin/dispute}">Quản lý Dispute</a></li>
		<li><a th:href="@{/admin/listsupplier}">Quản lý supplier</a></li>
		<li><a th:href="@{/admin/returnedorder}">Hàng trả lại</a></li>
 </ul>
 <br> <br>
 <form th:action="@{/admin/exportall}" name ="formexportall" method = GET>
 	<button type="submit" class="btn btn-info">Export all</button>
 </form>
<br>
	<div class="row">
		<div class="col-6">
			<form th:action="@{/admin/exportbystore}" method=GET
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-info"
							th:text="Export"></button>
					</div>
					<div class="col-6 col-md-8">
						<select name="store" required="required">
							<option th:each="store : ${lsStore}"
								th:value="${store.domain}" th:text="${store.domain}"></option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<table id="tablereturn" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
		<tr>
			<th>Id</th>
			<th>Order ID</th>
			<th>Address</th>
			<th>Image</th>
			<th>Product Name</th>
			<th>Status</th>
			<th>Supplier</th>
			<th>Tracking</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr data-th-each="order : ${lsReturnOrder}">
			<td data-th-text="${order.id}" class="id"></td>
			<td data-th-text="${order.oname}" class="name"></td>
			<td class="address">
				<p>
					Name : <b data-th-text="${order.addressname}"></b>
				</p>
				<p>
					Address 1: <b data-th-text="${order.address1}"></b>
				</p>
				<p>
					Address 2: <b data-th-text="${order.address2}"></b>
				</p>
				<p>
					Phone: <b data-th-text="${order.phone}"></b>
				</p>
				<p>
					City: <b data-th-text="${order.city}"></b>
				</p>
				<p>
					Zip: <b data-th-text="${order.zip}"></b>
				</p>
				<p>
					Province: <b data-th-text="${order.province}"></b>
				</p>
				<p>
					Country: <b data-th-text="${order.country}"></b>
				</p>
			</td>
			<td class="image"><img th:src="${order.imageurl}"></td>
			<td data-th-text="${order.productname}" class="product"></td>
			<td data-th-text="${order.status}" class="status"></td>
			<td data-th-text="${order.supplier}" class="supplier"></td>
			<td data-th-text="${order.trackingnumber}" class="trackingnumber"></td>
			<td data-th-text="${order.price}" class="price"></td>
			<td>
				<form th:action="@{/admin/returntracking}" name="formdeliver"
					method=POST>
					<input type="hidden" name="id" th:value="${order.id}"> 
					<input
						type="number" class="form form-control"
						th:value="${order.trackingreturn}" name="trackingreturn"
						placeholder="Tracking Number" required="required">
					<button id="assign" type="submit" class="btn btn-info"
						th:text="SaveTracking"></button>
				</form>
			</td>
			</tr>
	</tbody>
	</table>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/js/dropify.js}"></script> -->
<script type="text/javascript" th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>