<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Register Store</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/css/select2/dist/css/select2.min.css}"> -->
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>
<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> Store</b>
	</div>
 <br>
	<form th:action="@{/admin/addstore}" method=POST class = "form900">
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Domain (Không có https)"
				value="" name="domain" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="API Key"
				value="" name="apikey" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Password"
				value="" name="password" required="required"/>
		</div>
		<div class="form-group">
		<div class = "row">
			<div class = "col">
				<input type="text" class="form form-control" placeholder="Shopify Access Token"
				value="" name="accesstoken"/>
			</div>
			<div class = "col">
				<input type="text" class="form form-control" placeholder="Shopify Sub Domain"
				value="" name="shopifysubdomain"/>
			</div>
		</div>
			
		</div>
		<div class="form-group">
			<input type="number" class="form form-control" placeholder="Prefix"
				value="" name="prefix"/>
			<input type="text" class="form form-control" placeholder="Has WWW"
				value="" name="www" required="required"/>
		</div>
		<div class = "row">
		<div class = "col-6">
		<div class="form-group form-inline">
			<div class="col-6 col-sm-4">
				<span class  = "bold">Platform:</span>
			</div>
			<div class="col-6 col-md-8">
				<select id = "type" name = "type" required="required">
					<option value="2">WooCommerce</option>
					<option value="1">Shopify</option>
				</select>
			</div>
			
		</div>
		</div>
		<div class = "col-6">
		<div class="form-group form-inline">
			<div class="col-6 col-sm-4">
				<span class  = "bold">Sản phẩm chính:</span>
			</div>
			<div class="col-6 col-md-8">
				<select id = "product" name = "product" required="required">
					<option value="SNEAKER">SNEAKER</option>
					<option value="KITCHEN">KITCHEN</option>
				</select>
			</div>
		</div>
		</div>		
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Add" />
		</div>
	</form>
	
	<br>
	<table id="tablestore" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
		<tr>
			<th>Id</th>
			<th>Store Domain</th>
			<th>API key</th>
			<th>Password</th>
			<th>ListPP</th>
			<th>GrantPP</th>
			<th>AssignPP</th>
			<th>Active</th>
			<th>Threshold</th>
			<th>Prefix</th>
		</tr>
	</thead>
	<tbody>
		<tr data-th-each="store : ${lsStore}">
			<td data-th-text="${store.id}" class="id"></td>
			<td class="domain">
				<p>
					<a th:href="@{/admin/store/{domain}(domain=${store.domain})}"><b data-th-text="${store.domain}"></b></a>
				</p>
				<p>
					<b data-th-text="${store.state}"></b>
				</p>
				<p th:if="${store.type == 1}">
					<b data-th-text="Shopify"></b>
				</p>
				<p th:if="${store.type == 2}">
					<b data-th-text="Woocommerce"></b>
				</p>
				<p th:if="${not #strings.isEmpty(store.subdomainshopify)}">
					Sub: <b data-th-text="${store.subdomainshopify}"></b>
				</p>
			</td>
			<td data-th-text="${store.apikey}" class="apikey"></td>
			<td class="password">
				<p>
					<b data-th-text="${store.password}"></b>
				</p>
				<p th:if="${not #strings.isEmpty(store.accesstoken)}">
					<b data-th-text="${store.accesstoken}"></b>
				</p>
			</td>
			<td data-th-text="${store.ppacc}" class="ppacc"></td>
			<td>
					<form th:action="@{/admin/grantpp}" name ="formgrant" method = POST>
					<input type="hidden" name="id" th:value="${store.id}">
					<select name="paypalaccount" required="required">
						<option th:each="paypalaccount : ${lsPP}"
							th:value="${paypalaccount.username}" th:text="${paypalaccount.username}"></option>
					</select>
					<button id="grantpp" type="submit" name = "grant" class="btn btn-info" th:text ="GrantPP" style="margin-top:20px;"></button>
					<button id="removepp" type="submit" name = "remove" class="btn btn-warning" th:text ="RemovePP" style="margin-top:20px;"></button>
					<br>
					<input type="checkbox" name="granto"><span> Grant Orders</span>
					</form>
			</td>
			<td>
<!-- 				<form th:action="@{/admin/deletestore}" name ="formdelete" method = POST> -->
<!-- 					<input type="hidden" name="id" th:value="${store.id}"> -->
<!-- 					<button id="delete" type="submit" class="btn btn-danger" th:text ="Delete"></button> -->
<!-- 				</form> -->
					<form th:action="@{/admin/assignpp}" name ="formassign" method = POST>
					<input type="hidden" name="id" th:value="${store.id}">
					<select id = "paselectid" name="paypalaccount" required="required" class = "paselect">
						<option th:each="paypalaccount : ${lsPP}"
							th:value="${paypalaccount.username}" th:text="${paypalaccount.username}"></option>
					</select>
					
					<button id="assignpp" type="submit" class="btn btn-success" th:text ="ChangePP" style="margin-top:20px;"></button>
					</form>
			</td>
			<td>
				<input type="hidden" name="id" th:value="${store.id}">
				<form th:action="@{/admin/deactivestore}" name ="formdeactive" method = POST>
					<input type="hidden" name="id" th:value="${store.id}">
					<button id="deactive" type="submit" class="btn btn-danger" th:text ="Deactive"></button>
				</form>
				<form th:action="@{/admin/activestore}" name ="formactive" method = POST style="margin-top:20px;">
					<input type="hidden" name="id" th:value="${store.id}">
					<button id="active" type="submit" class="btn btn-success" th:text ="Active"></button>
				</form>
<!-- 				<form th:action="@{/admin/deletestore}" name ="formdelete" method = POST style="margin-top:20px;"> -->
<!-- 					<input type="hidden" name="id" th:value="${store.id}"> -->
					<button style="margin-top:20px;" id="btndelete" type="submit" class="btn btn-danger btndelete" th:text ="Delete"></button>
<!-- 					<input type="checkbox" name="cborder"><span> Orders</span> -->
					<b><span class = "resultdelete"></span></b>
<!-- 				</form> -->
			</td>
			<td>
				<form th:action="@{/admin/thresholdstore}" name ="formathreshold" method = POST style="margin-top:20px;">
					<input type="hidden" name="id" th:value="${store.id}">
					<input id = "threshold" name = "threshold" th:value="${store.thresholdpp}"  class = "form form-control" placeholder="Threshold change PP">
					<button id="btnthreshold" type="submit" class="btn btn-info" style="margin-top:20px;" th:text ="Set"></button>
				</form>
			</td>
			<td data-th-text="${store.prefix}" class="prefix"></td>
		</tr>
	</tbody>
	</table>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<!-- 	<script type="text/javascript" -->
<!-- 		th:src="@{/js/select2/dist/js/select2.min.js}"></script> -->
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>