<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Store</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>

	<th:block th:replace="fragment/menu:: menu" />
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">≡</button>
		<b class = "textcenter"> Product Store</b>
	</div>
	<div class = "form500">
	<form th:action="@{/admin/getstoreproduct}" method=GET
		enctype="multipart/form-data">
		<div class="">
		<div class="form-group">
			<input type="text" class="form form-control"
				th:value="${domain}" name="domain" required="required"/>
		</div>
			<button id="getproduct" type="submit" class="btn btn-info btnimport" name = "getproduct">Get Product</button>
			<button id="deleteproduct" type="submit" class="btn btn-danger btndelete left10px" name = "deleteproduct">Delete Product</button>
		</div>
	</form>
	</div>
	<br>
	
	<table id="tableproducttm" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
		<tr>
			<th>Domain</th>
			<th>ProductID</th>
			<th>Title</th>
			<th>Price</th>
			<th>Image</th>
			<th>Variant Name</th>
			<th>Parent ID</th>
			<th>ID</th>
			<th>Permalink</th>
			<th>Category</th>
			
		</tr>
	</thead>
	<tbody>
		<tr data-th-each="producttm : ${lsproducttm}">
			<td  class="domain">
				<span data-th-text="${producttm.domain}"></span>
			</td>
			<td  class="productid">
				<span data-th-text="${producttm.productid}"></span>
			</td>
			<td  class="title">
				<span data-th-text="${producttm.title}"></span>
			</td>
			<td  class="price">
				<span data-th-text="${producttm.price}"></span>
			</td>
			<td  class="image">
				<span data-th-text="${producttm.image}"></span>
			</td>
			<td  class="variant">
				<span data-th-text="${producttm.variant}"></span>
			</td>
			<td  class="parentid">
				<span data-th-text="${producttm.parentid}"></span>
			</td>
			<td  class="id">
				<span data-th-text="${producttm.id}"></span>
			</td>
			<td  class="permalink">
				<span data-th-text="${producttm.permalink}"></span>
			</td>
			<td  class="category">
				<span data-th-text="${producttm.category}"></span>
			</td>
		</tr>
	</tbody>
	</table>
	

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>