<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Register Paypal</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>

	<ul>
		<li><a th:href="@{/logout}">Log out</a></li>
		<li><a th:href="@{/admin}">Trang chủ</a></li>
		<li><a th:href="@{/admin/all}">Xem toàn bộ đơn hàng</a></li>
		<li><a th:href="@{/admin/store}">Quản lý cửa hàng</a></li>
		<li><a th:href="@{/admin/paypal}">Quản lý Paypal</a></li>
		<li><a th:href="@{/admin/stripe}">Quản lý Stripe</a></li>
		<li><a th:href="@{/admin/dispute}">Quản lý Dispute</a></li>
		<li><a th:href="@{/admin/listsupplier}">Quản lý supplier</a></li>
		<li><a th:href="@{/admin/returnedorder}">Hàng trả lại</a></li>
	</ul>
	<br>
	<form th:action="@{/admin/addstripe}" method=POST>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Key"
				value="" name="key" required="required"/>
		</div>
		<div class="form-group">
			<input type="text" class="form form-control" placeholder="Secret"
				value="" name="secret" required="required"/>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Add" />
		</div>
	</form>
	<br>
	<table id="tablestripe" class="table table-striped table-bordered"
		cellspacing="0">
		<thead>
		<tr>
			<th>Id</th>
			<th>Key</th>
			<th>Secret</th>
			<th>CaptureTotal</th>
			<th>Action</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
	<tr data-th-each="stripeaccount : ${lsStripe}">
		<td  class="id">
			<span data-th-text="${stripeaccount.id}"></span>
		</td>
		<td data-th-text="${stripeaccount.key}" class="key"></td>
		<td data-th-text="${stripeaccount.secret}" class="secret"></td>
		<td data-th-text="${stripeaccount.capturetotal}" class="capturetotal"></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
	</table>
	

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>