<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Supplier</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
</head>
<body>
	<div class="">
		<ul>
			<li><a th:href="@{/logout}">Log out</a></li>
			<li><a th:href="@{/supplier}">Picked order</a></li>
			<li><a th:href="@{/supplier/neworder}">New order</a></li>
			<li><a th:href="@{/supplier/profile}">Profile</a></li>
		</ul>
		<h1 th:inline="text">
			你好 <small th:text="${name}"></small>
		</h1>
		<div th:if="${message != null}">
		    <ul>
		       <li th:each="item : ${message}"><h4 class="alert alert-danger" th:text = ${item}></h4></li>
		    </ul>
		</div>
		<br>
		<div class=row>
			<form class="formgetone" th:action="@{/supplier/getone}"
				name="formgetone" method=GET style="width: 500px; margin-left: 30px">
				<div class="form-group form-inline">
					<div class="col-6">
						<input type="text" class="form form-control" name="orderid"
							placeholder="Order ID">
					</div>
					<div class="col-6">
						<button id="find" type="submit" class="btn btn-info"
							th:text="FindById"></button>
					</div>
				</div>
			</form>
			<br>
		</div>
		<table id="tableordersup" class="table table-striped table-bordered"
			cellspacing="0" style="width: 100%">
			<thead>
				<tr>
					<th>Id</th>
					<th>Order ID</th>
					<th>Address</th>
					<th>Image</th>
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Variant</th>
					<th>Style</th>
					<th>Status</th>
					<th>Tracking Number</th>
					<th>Cancel</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="order : ${lsOrder}">
					<td data-th-text="${order.id}" class="id"></td>
					<td data-th-text="${order.oname}" class="name"></td>
					<td class="address">
						<p>
							Name : <b data-th-text="${order.addressname}"></b>
						</p>
						<p>
							Address 1: <b data-th-text="${order.address1}"></b>
						</p>
						<p>
							Address 2: <b data-th-text="${order.address2}"></b>
						</p>
						<p>
							Phone: <b data-th-text="${order.phone}"></b>
						</p>
						<p>
							Email: <b data-th-text="${order.email}"></b>
						</p>
						<p>
							City: <b data-th-text="${order.city}"></b>
						</p>
						<p>
							Zip: <b data-th-text="${order.zip}"></b>
						</p>
						<p>
							Province/State: <b data-th-text="${order.province}"></b>
						</p>
						<p>
							Country: <b data-th-text="${order.country}"></b>
						</p>
					</td>
					<td class="image"><img th:src="${order.imageurl}">
						<span th:text="${#dates.format(order.createDate, 'dd-MMM-yyyy')}"></span>
					</td>
					<td data-th-text="${order.productname}" class="product"></td>
					<td data-th-text="${order.quantity}" class="quantity"></td>
					<td data-th-text="${order.variant}" class="variant"></td>
					<td data-th-text="${order.style}" class="style"></td>
					<td>
					<span th:if="${order.status== 'Cancel'}"
						data-th-text="${order.status}" class="Cancel"></span>
						<span th:if="${order.status== 'Delivered'}"
						data-th-text="${order.status}" class="Delivered"></span>
					</td>
					<td>
						<form th:action="@{/supplier/deliver}" name="formdeliver"
							method=POST>
							<input type="hidden" name="id" th:value="${order.id}"> <input 
								type="text" class="form form-control width250 bottom20"
								th:value="${order.trackingnumber}" name="trackingnumber"
								placeholder="Tracking Number" required="required">
								<input th:if="${order.type == 1}"
								type="text" class="form form-control width250 bottom20"
								th:value="${order.carrier}" name="carrier"
								placeholder="Carrier" required="required">
								<select th:if="${order.type == 2}"
								name="supplierwoo" required="required" class="bottom20">
								<option th:each="supplierwoo : ${listSupplier}" th:value="${supplierwoo}"
									th:text="${supplierwoo}"></option>
								</select>
								<br>
							<button id="assign" type="submit" class="btn btn-success"
								th:text="Deliver"></button>
						</form>
					</td>
					<td>
						<form th:action="@{/supplier/cancel}" name="formcancel"
							method=POST>
							<input type="hidden" name="id" th:value="${order.id}"> 
							<select
								name="reason" required="required">
								<option th:each="reason : ${lsReason}" th:value="${reason}"
									th:text="${reason}"></option>
							</select>
							<br>
							<button id="cancel" type="submit" class="btn btn-danger"
								th:text="Cancel" style="margin-top: 30px;"></button>
						</form>
					</td>
					<td>
						<form th:action="@{/supplier/note}" name="formnote" method=POST>
							<input type="hidden" name="id" th:value="${order.id}"> <input
								type="text" class="form form-control" name="note"
								th:value="${order.note}" placeholder="Note">
							<button id="note" type="submit" class="btn btn-info"
								th:text="Note" style="margin-top: 10px;"></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script>
	<script type="text/javascript" th:src="@{/js/dropify.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>