@keyframes flickerAnimation {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
	0%   { opacity:1; }l
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
.animate-flicker {
	-webkit-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}
#other-partners {
	display: none;
}
#other-partners.show{
	display: block;
}
body:not(.home) .header{
	background: transparent;
}
.sl-overlay {
	background: #000;
	opacity: 0.75;
}
.sl-wrapper .sl-image .sl-caption.pos-outside {
	background: transparent;
	font-size: 1.6rem;
	letter-spacing: 0.5px;
	line-height: 22px;
	margin: auto;
	width: 100% !important;
	font-family: Avenir-Book;
	padding-top: 2.8rem;
	pointer-events: auto;
}
.sl-wrapper .sl-image {
	width: 100%;
	text-align: center;
	left: 0 !important;
	pointer-events: none;
}
.sl-wrapper .sl-image img {
	display: block;
	margin: auto;
	pointer-events: auto;
}
.sl-wrapper .sl-navigation {
	z-index: 10001;
	position: relative;
}
div.row{
	margin-left: 0;
	margin-right: 0;
}
@media (max-width: 1279px){
	body:not(.home) .header{
		background: rgba(0, 0, 0, 0.7);
	}
}



/**********************************About page**********************************/



.about-us-page, .contact-us-page, .gallery-page{
	background-image: url(../assets/images/bkg.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 100vh;
	height: inherit;
}
.about-us-page .page-content:before, .gallery-page .page-content:before{
	content: "";
	display: block;
	width: 88px;
	height: 109px;
	position: absolute;
	top: 190px;
	left: 16%;
	background-image: url(../assets/images/about-satellite-1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	z-index: -1;
}
.about-us-page .page-content:after, .gallery-page .page-content:after{
	content: "";
	display: block;
	width: 30px;
	height: 31px;
	position: absolute;
	top: 230px;
	right: 20%;
	background-image: url(../assets/images/about-satellite-2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	z-index: -1;
}
.about-us-page .col-left{
	display: block !important;
}
.about-us-page .page-content .col{
	position: relative;
	padding: 3.5rem 5.4rem 5rem;
	z-index: 0;
}
.about-us-page .page-content .col:after{
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #466b82;
	opacity: 0.9;
	border-radius: 5px;
	z-index: -1;
}
.about-us-page .left{
	width: 48.7%;
	margin-right: 2.6%;
}
.about-us-page .right{
	width: 48.7%;
}
.about-us-page .page-title, .contact-us-page .page-title{
	font-size: 2.5rem;
	line-height: 1.38;
	font-family: Avenir-Medium;
	text-align: center;
	margin-bottom: 6.1rem;
}
.about-us-page .page-content{
	padding-bottom: 4.4rem;
	margin-right:auto;
	margin-left: auto;
	padding-top: 180px;
	padding-left: 7.4rem;
	padding-right: 7.4rem;
}
.about-us-page .page-content .content-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about-us-page .page-content p{
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: Avenir-Book;
	margin-bottom: 2rem;
	letter-spacing: 0.5px;
}
.about-us-page .title{
	font-size: 2.5rem;
	line-height: 1.38;
	font-family: Avenir-Medium;
	margin-bottom: 1.7rem;
}
.about-us-page .page-content .right a{
	font-size: 1.1rem;
	line-height: 1.2;
	margin-top: 5.4rem;
	display: inline-block;
	border-bottom: 2px solid #F8D092;
	padding-bottom: 1px;
	font-weight: bold;
}
.about-us-page .page-content .right a:hover{
	color: #fff;
	border-color: #fff;
}
@media (min-width: 1328px) and (max-width: 1370px) and (max-height: 768px){
	.about-us-page .page-content .col:after{
		opacity: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.about-us-page .page-content .col.left:after{
		background-image: url(../assets/images/about-left-content-bkg.png);
	}
	.about-us-page .page-content .col.right:after{
		background-image: url(../assets/images/about-right-content-bkg.png);
	}
}
@media (min-width: 1280px){
	.about-us-page .page-content{
		padding-left: 11rem;
		padding-right: 11rem;
	}
}
@media (max-width: 1279px){
	.about-us-page:after, .contact-us-page:after, .gallery-page:after{
		content: "";
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url(../assets/images/bkg.png);
		background-position: top center;
		background-size: cover;
		z-index: -9;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.about-us-page .page-content .col{
		padding: 20px 30px;
	}
}
@media (max-width: 767px){
	.about-us-page .page-content .col{
		width: 100%;
		margin-right: 0;
		padding: 30px 15px;
		margin-bottom: 30px;
	}
	.about-us-page .page-content .content-wrap{
		display: block;
	}
	.about-us-page .page-content .right a{
		margin-top: 30px;
	}
	.about-us-page .page-content p:last-child{
		margin-bottom: 0;
	}
}
@media (max-width: 479px){
	.about-us-page .page-content:before, .gallery-page .page-content:before, .about-us-page .page-content:after, .gallery-page .page-content:after{
		display: none;
	}
}



/**********************************Contact page**********************************/



select::-ms-expand {
	display: none;
}
select{
	-moz-appearance: window;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(../assets/images/dropdown.png);
	background-repeat: no-repeat;
	background-position: 96% center;
}
.contact-us-page .page-title{
	margin-bottom: 5.8rem;
}
.contact-us-page .col-left{
	display: block !important;
}
.contact-us-page .page-content{	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 7.2rem;
	padding: 179px 7.4rem 7.2rem;
}
.contact-us-page .content-wrap:after{
	content: "";
	display: table;
	clear: both;
}
.contact-us-page .left{
	float: left;
	width: 39.88%;
	position: relative;
	padding: 3.9rem 5.4rem 5.4rem;
}
.contact-us-page .left:after{
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background-image: url(../assets/images/test.png);*/
	background-color: #466b82;
	opacity: 0.9;
	border-radius: 5px;
	z-index: -1;
}
.contact-us-page .right{
	float: right;
	width: 57%;
	padding: 0;
}
.contact-us-page .left .title{
	font-size: 3rem;
	line-height: 1.38;
	font-family: Avenir-Medium;
	margin-bottom: 2.8rem;
}
.contact-us-page .left .content>div{
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: Avenir-Book;
	margin-bottom: 1.5rem;
	padding-left: 3.4rem;
	position: relative;
}
.contact-us-page .left .content>div:after{
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.contact-us-page .left .content>div.phone:after{
	background-image: url(../assets/images/telephone.png);
}
.contact-us-page .left .content>div.mail:after{
	background-image: url(../assets/images/envelope.png);
}
.contact-us-page .left .content>div.address:after{
	background-image: url(../assets/images/location.png);
}
.contact-us-page .left a{
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: Avenir-Book;
	color: #fff;
}
.contact-us-page .right form>div{
	position: relative;
	margin-bottom: 1rem;
	padding: 1.9rem 1.4rem 1.8rem;
	z-index: 0;
}
.contact-us-page .right form>div.enquiry{
	padding: 0;
}
.contact-us-page .right form>div:after{
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #466b82;
	opacity: 0.9;
	border-radius: 5px;
	z-index: -2;
}
.contact-us-page .right input, .contact-us-page .right textarea, .contact-us-page .right select{
	background-color: transparent !important;
	bottom: 0;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.22;
	font-family: Courier;
	border: 0;
	color: #fff;
	outline: none;
	padding: 0rem 1rem;
}
.contact-us-page .right textarea{
	height: 11.8rem;
	resize: none;
}
.contact-us-page .right select{
	opacity: 0.51;
	padding: 2rem 2.4rem 1.7rem;
}
.contact-us-page .right select.choosen{
	opacity: 1;	
}
.contact-us-page .right label{
	position: absolute;
	top: 2rem;
	left: 2.4rem;
	font-size: 1.4rem;
	line-height: 1.22;
	font-family: Courier;
	opacity: 0.51;
	z-index: -1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 9999px #fff inset;
	/*-webkit-text-fill-color: #fff !important;*/
}
.contact-us-page .right input:focus+label, .contact-us-page .right textarea:focus+label,
.contact-us-page .right label.shrink{
	font-size: 0.8rem;
	line-height: 1.2;
	top: 0.8rem;
}
.contact-us-page .right select:focus+label{
	display: none;
}
.contact-us-page .right select option {
	background: #fff;
	color: #000 !important;
}
.contact-us-page .right input[type="submit"]{
	background-color: transparent;
	color: #F8D092;
	border: 0;
	border-bottom: 2px solid #F8D092;
	padding: 0;
	width: auto;
	display: block;
	margin-left: auto;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.contact-us-page .page-content .success{
	text-align: center;
	background-color: transparent;
	color: #ff5e00;
	border: 0;
	padding: 0;
	width: auto;
	display: block;
	margin-left: auto;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 15px;
}
.contact-us-page .right input[type="submit"]:hover{
	color: #fff;
	border-color: #fff;
}
@media (min-width: 1320px) and (max-width: 1520px) and (max-height: 850px){
	.contact-us-page .right{
		float: left;
		width: 48.16%;
	}
	.contact-us-page .left{
		margin-right: 3.17%;
	}
	.contact-us-page .page-content .col:after, .contact-us-page .right form>div:after{
		opacity: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.contact-us-page .page-content .left:after{
		background-image: url(../assets/images/contact-left-content-bkg.png);
	}
	.contact-us-page .right form>div:nth-of-type(1):after{
		background-image: url(../assets/images/contact-right-content-bkg-1.png);
	}
	.contact-us-page .right form>div:nth-of-type(2):after{
		background-image: url(../assets/images/contact-right-content-bkg-2.png);
	}
	.contact-us-page .right form>div:nth-of-type(3):after{
		background-image: url(../assets/images/contact-right-content-bkg-3.png);
	}
	.contact-us-page .right form>div:nth-of-type(4):after{
		background-image: url(../assets/images/contact-right-content-bkg-4.png);
	}
	.contact-us-page .right form>div:nth-of-type(5):after{
		background-image: url(../assets/images/contact-right-content-bkg-5.png);
	}
	.contact-us-page .right form>div:nth-of-type(6):after{
		background-image: url(../assets/images/contact-right-content-bkg-6.png);
	}
}
@media (min-width: 1280px){
	.contact-us-page .page-content{
		padding-left: 19.4rem;
		padding-right: 19.4rem;
	}	
}
@media (max-width: 1024px){
	.contact-us-page .left .title{
		font-size: 2.6rem;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.contact-us-page .left{
		padding: 20px 30px;
	}
}
@media (max-width: 829px) and (min-width: 768px){
	.contact-us-page .left .title{
		font-size: 2.2rem;
	}
}
@media (max-width: 767px){
	.contact-us-page .right select{
		padding: 2rem 1.5rem 1.7rem;
	}
	.contact-us-page .left{
		padding: 30px 15px 30px;
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.contact-us-page .right{
		float: none;
		width: 100%;
	}
	.contact-us-page .right form>div{
		padding: 0 5px;
		padding: 2rem 5px 1.7rem;
	}
	.contact-us-page .right label{
		left: 15px;
	}
	.contact-us-page .right form>div.enquiry{
		padding-left: 0;
		padding-right: 0;
	}
}



/**********************************Gallery page**********************************/



.gallery-page .page-content{
	padding: 180px 7.6rem 3.9rem;
}
.gallery-page .col-left{
	display: block !important;
}
.gallery-page .page-title{
	font-size: 2.5rem;
	line-height: 1.38;
	font-family: Avenir-Medium;
	text-align: center;
	margin-bottom: 11rem;
}
.gallery-page .gallery:after{
	content: "";
	display: table;
	clear: both;
}
.gallery-page .gallery a{
	display: block;
	width: 19.08%;
	margin-right: 1.15%;
	float: left;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 13.68%;
	margin-bottom: 1.2rem;
	border-radius: 5px;
}
.gallery-page .gallery a:nth-of-type(5n){
	margin-right: 0;
}
.gallery-page .gallery a img{
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sl-wrapper .sl-navigation button svg{
	display: none;
}
.sl-wrapper .sl-navigation button.sl-prev:after, .sl-wrapper .sl-navigation button.sl-next:after{
	content: "";
	display: block;
	width: 43.54px;
	height: 43.54px;
	background-size: contain;
	background-position: center center;
	position: absolute;
	top: 0;
}
.sl-wrapper .sl-navigation button.sl-prev:after{
	background-image: url(../assets/images/arrow-left.png);
}
.sl-wrapper .sl-navigation button.sl-next:after{
	background-image: url(../assets/images/arrow-right.png);
}
@media (min-width: 1280px){
	.gallery-page .page-content{
		padding-left: 16.4rem;
		padding-right: 16.4rem;
	}
	.sl-wrapper .sl-navigation button.sl-prev{
		left: 110px;
	}
	.sl-wrapper .sl-navigation button.sl-next{
		right: 110px;
	}
}
@media (max-width: 767px){
	.gallery-page .gallery a{
		width: 24.1%;
		margin-right: 1.2%;
		padding-bottom: 17%;
	}
	.gallery-page .gallery a:nth-of-type(5n){
		margin-right: 1.2%;	
	}
	.gallery-page .gallery a:nth-of-type(4n){
		margin-right: 0;
	}
}
@media (max-width: 567px){
	.sl-wrapper .sl-navigation button.sl-next{
		right: 24px;
	}
	.sl-wrapper .sl-navigation button.sl-prev{
		left: 2px;
	}
}
@media (max-width: 479px){
	.gallery-page .gallery a{
		width: 48%;
		margin-right: 4%;
		padding-bottom: 33%;
	}
	.gallery-page .gallery a:nth-of-type(5n){
		margin-right: 4%;
	}
	.gallery-page .gallery a:nth-of-type(2n){
		margin-right: 0;
	}
	.sl-wrapper .sl-navigation button.sl-prev:after, .sl-wrapper .sl-navigation button.sl-next:after{
		width: 30px;
		height: 30px;
	}
	.sl-wrapper .sl-navigation button{
		width: 30px;
		height: 30px;
		bottom: 50%;
		transform: translateY(50%);
		top: auto;
	}
	.sl-wrapper .sl-navigation button.sl-next{
		right: 2px;
	}
}



/**********************************custom page**********************************/



body.home.custom-page{
	background-size: 100% 100%;
	background-position: bottom left;
	background-image: url(../assets/images/custom-bkg.png);
}
body.home.custom-page:after{
	content: "";
	display: block;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../assets/images/custom-bkg.png);
	background-position: bottom left;
	background-size: cover;
	z-index: -9;
}
.custom-page .nav{
	top: 55.2%;
	margin-top: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.custom-page a.back{
	top: 138px;
	z-index: 9;
	left: 11.6rem;
	position: relative;
	font-size: 1rem;
	letter-spacing: 1.5px;
	font-family: Avenir-Heavy;
}
.custom-page a.back:before{
	content: url(../assets/images/back.png);
	display: inline;
	position: relative;
	top: 2px;
	margin-right: 7px;
}
.custom-page a.back:hover{
	color: #fff;
}
.custom-page .content-page .row{
	padding: 0 10rem;
}
.custom-page ul.menuanchor, .custom-page .col-left{
	display: block !important;
}
.custom-page .custom-content{
	position: absolute;
	width: 100%;
	height: 42rem;
	transform: translateY(-50%); 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	top: 58%;
}
.custom-page .content-page h3{
	font-size: 2.5rem;
	line-height: 34px;
	text-align: center;
	/*margin-bottom: 8rem;*/
	margin-bottom: 5rem;
}
.custom-page.pan-geo-page .content-page h3{
	margin-bottom: 8rem;
}
.custom-page .content-page .items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.custom-page .content-page .item{
	width: 46%;
	text-align: center;
}
.custom-page:not(.pan-geo-page) .content-page .item:first-child{
	margin-right: 8%;
}
.custom-page .content-page .item h4{
	margin-top: 4.4rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 1.3px;
	font-size: 1.6rem;
	font-family: 'Courier';
}
.custom-page .content-page .item a{
	display: inline-block;
	height: 100%;
	position: relative;
}
.custom-page .content-page .item a img{
	display: block;
	margin: auto;
	padding-bottom: 83px;
	max-width: 30rem;
	max-height: 30.3rem;
	min-height: 20.8rem;
	min-width: 14rem;
}
.custom-page .content-page .item a:hover h4{
	color: #fff;
}
.custom-page.pan-geo-page .content-page .content:after{
	content: "";
	display: table;
	clear: both;
}
.custom-page.pan-geo-page .content-page .col{
	padding-left: 0px;
	width: 50%;
	float: left;
}
.custom-page.pan-geo-page .content-page .col:first-child{
	padding-right: 5px;
}
.custom-page.pan-geo-page .content-page .col:last-child{
	padding-left: 5px;
}
.custom-page.pan-geo-page .content-page .item{
	width: 48.25%;
	background: rgba(24, 67, 57, 0.7);
	margin-bottom: 3.48rem;
	padding: 2.5rem 3rem 3rem 4rem;
	position: relative;
	text-align: left;
	border-radius: 5px;
}
.custom-page.pan-geo-page .content-page .item .icon{
	content: "";
	display: block;
	width: 50px;
	height: 67px;
	position: absolute;
	top: 2.4rem;
	right: 3rem;
}
.custom-page.pan-geo-page .content-page .item .icon img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.custom-page.pan-geo-page .content-page .item:last-child{
	margin-left: 3.5%;
}
.custom-page.pan-geo-page .content-page .item:first-child{
	margin-left: 0;
}
.custom-page.pan-geo-page .content-page .row{
	padding: 0 15rem;
}
.custom-page.pan-geo-page .content-page .subtitle{
	font-size: 0.8rem;
	letter-spacing: 3px;
	line-height: 11px;
	font-family: Avenir-Book;
	margin-bottom: 1.3rem;
	text-transform: uppercase;
}
.custom-page.pan-geo-page .content-page .title{
	font-size: 2rem;
	letter-spacing: 1.3px;
	line-height: 24px;
	margin-bottom: 2.9rem;
	color: #F8D092;
}
.custom-page.pan-geo-page .content-page .col>div{
	font-size: 1rem;
	letter-spacing: 1px;
	line-height: 14px;
	font-family: Avenir-Book;
	padding: 8.5px 0 7.5px;
	border-bottom: 0.3px solid #fff;
}
.custom-page.pan-geo-page .content-page span{
	font-weight: bold;
	padding-left: 10px;
}
.custom-page.pan-geo-page .custom-content{
	position: static;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	height: auto;
}
.custom-page.pan-geo-page .main-content .content-page{
	height: auto;
	position: static;
	padding-top: 164px;
	margin-bottom: 10rem;
}
.custom-page.pan-geo-page{
	height: auto !important;
	background-size: cover;
}
.custom-page .content-page .mobile{
	display: none;
}
.custom-page .content-page h1,.custom-page .custom-content h1, .page-detail .page-content h1{
	text-align: center;
}
ul.menuanchor li:hover a, ul.menuanchor li:focus a, ul.menuanchor li.show-label a{
	padding-right: 3px;
	padding-left: 5px;
}
@media(min-width: 1280px){
	.custom-page.pan-geo-page .content-page .row{
		padding: 0 22rem;
	}
	.custom-page.space-view-satellites .content-page h3{
		/*margin-bottom: 12rem;*/
	}
	.custom-page.airbus-satellites .content-page .row{
		padding: 0 14rem;
	}
}
@media (max-height: 720px){
	.custom-page .custom-content{
		top: 60%;
	}
}
@media (max-height: 600px){
	.custom-page .custom-content{
		top: 70%;
	}
	.custom-page .content-page h3, .custom-page.space-view-satellites .content-page h3{
		margin-bottom: 4rem;
	}
}
@media (min-width: 1366px){
	.custom-page.pan-geo-page .content-page .row{
		padding: 0 24.8rem;
	}
}
@media (max-width: 1279px) and (min-width: 992px){
	.custom-page.pan-geo-page .content-page .col{
		width: 100%;
		float: none;
	}
	.custom-page.pan-geo-page .content-page .col:first-child,
	.custom-page.pan-geo-page .content-page .col:last-child{
		padding-right: 0px;
		padding-left: 0;
	}
}
@media (max-width: 1279px){
	.custom-page .content-page .item a img{
		max-width: 100%;
		min-height: 12.5rem;
		min-width: 14rem;
	}
	.custom-page a.back{
		left: 15px;
		top: 94px;
	}
	.custom-page.pan-geo-page .main-content .content-page{
		margin-bottom: 6rem;
	}
	.custom-page .content-page .fullpage-section{
		display: none;
	}
	.custom-page .content-page .mobile{
		display: block;
	}
	.custom-page:not(.pan-geo-page) .content-page .row{
		margin-bottom: 10rem;
	}
	body.home.custom-page{
		background-size: cover;
	}
	.custom-page:not(.pan-geo-page) .custom-content{
		position: static;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		height: auto;
	}
	.home.custom-page:not(.pan-geo-page) .main-content .content-page{
		position: static;
		height: auto;
		padding-top: 151px;
	}
	.custom-page .content-page h3{
		margin-bottom: 10rem;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.custom-page.pan-geo-page .content-page .item{
		padding: 20px 30px;
	}
	.custom-page.pan-geo-page .content-page .item:before{
		top: 20px;
		right: 35px;
	}
	.custom-page.pan-geo-page .content-page .items{
		display: block;
	}
	.custom-page.pan-geo-page .content-page .item{
		width: 100%;
	}
	.custom-page.pan-geo-page .content-page .item:last-child{
		margin-left: 0;
	}
}
@media (max-width: 767px){
	.custom-page .content-page .items{
		display: block;
	}
	.custom-page.pan-geo-page .content-page .item{
		width: 100%;
	}
	.custom-page.pan-geo-page .content-page .item:last-child{
		margin-left: 0;
	}
	.custom-page .content-page .item{
		width: 100%;
		margin-bottom: 60px;
	}
	.custom-page .content-page h3{
		margin-bottom: 100px;
	}
	.custom-page .content-page .item a img{
		width: 100%;
		max-width: 240px;
		padding-bottom: 0;
		min-height: 0;
		min-width: 0;
	}
	.custom-page .content-page .item h4{
		position: static;
	}
	.custom-page.pan-geo-page .content-page .item{
		padding: 20px 15px;
	}
}
@media (max-width: 479px){
	.custom-page.pan-geo-page .content-page .col{
		width: 100%;
		float: none;
	}
	.custom-page.pan-geo-page .content-page .col:first-child,
	.custom-page.pan-geo-page .content-page .col:last-child{
		padding-right: 0px;
		padding-left: 0;
	}
	.custom-page.pan-geo-page .content-page .item:before{
		top: 10px;
		right: 15px;
	}
	.custom-page .content-page .item a img{
		max-width: 160px;
	}
}



/**********************************Bug**********************************/



@media (max-width: 1024px){
	.about-us-page .page-content, .contact-us-page .page-content, .gallery-page .page-content{
		padding-top: 151px;
	}
}
@media (max-width: 767px){
	.contact-us-page .page-content, .about-us-page .page-content, .gallery-page .page-content,
	.custom-page .content-page .row{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	.col-left{
		left: -8rem;
	}
	.nav{
		right: -1rem;
	}
}
@media (max-width: 479px){
	.home.custom-page:not(.pan-geo-page) .main-content .content-page,
	.custom-page.pan-geo-page .main-content .content-page,
	.contact-us-page .page-content, .gallery-page .page-content, .about-us-page .page-content{
		padding-top: 140px !important;
	}
}
@media (max-width: 479px){
	.col-left{
		left: -6.5rem;
	}
	.about-us-page .page-title, .contact-us-page .page-title, .gallery-page .page-title,
	.custom-page .content-page h3, .custom-page.pan-geo-page .content-page h3{
		margin-bottom: 4rem;
	}
}



/*______________________________bug java site______________________________*/



.page-title{
	color: #fff;
}
.page-detail.low-height a.back{
	z-index: 999;
}
.custom-bkg{
	z-index: -1;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.custom-bkg img{
	height: auto;
	width: auto;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}