.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefda;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}
tr, td {
	height: 0px !important;
	padding: 0px 10px !important;
	font-size: 12px !important;
}
 
.modal-footer{
	background-color: #ffab0094;
}
.btnimportassign{
	width: auto !important;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #6f0a14;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ff9400;
}
.searchbtn711 {
    float: right;
    margin-top: -48px;
    margin-right: 40px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #a93133;
  color: white;
  padding: 10px 15px;
  border: none;
}
#filtertext{
	margin: auto;
	width: 75%;
}
.fixingtext{
	background-color: yellow;
}
.line2{
	margin-top: 20px;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.top{
	margin-top: 20px;
}
.left15{
	margin-left: 15px;
}
.left100{
	margin-left: 100px;
}
.left40{
	margin-left: 40%;
}
.autowidth{
	width: auto;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.menutext{
	font-size: 13px;
}
.widt12{
	width: 12%;
}
.width10{
	width: 10%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.searcharea{
	margin-left: 20px;
	width: 90%;
}
.searcharea2{
	margin-left: 25px;
	width: 95%;
}
.selectsearch{
	width: 160px;
}
.lblsearch{
	vertical-align: middle;
	padding-top: 5px;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right{
  float: right;
}
.header-right img{
	height: 50px;
}
.textcenter {
	margin-left: 36%;
	font-size: 30px;
}
.divAdd{
	padding: 30px;
}
.divAdd button{
	width: 80px;
	height: 50px;
}
.select2-container{
	float: right;
	width: 100% !important;
}
.profile{
	margin-top: 10%;
	height: 30%;
}
.loginname{
	margin: auto;
    font-size: 50px;
    font-weight: 500;
}
.areadis{
	margin-top: 10%;
	font-size: 35px;
}
.distributor ul, .distributorarea ul {
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.fontw500{
	font-weight: 500;
}
.npdsale{
	margin: auto;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    color: #bd2130;
    font-weight: 700;
    margin-left: 21%;
}
.profiletext{
	margin: auto;
    width: 25%;
    font-size: 55px;
    color: #bd2130;
}
.btnsearch {
	color: white;
	background-color: #bd2130;
}
.hinfo {
	font-size: 50px;
    font-weight: 700;
}
.infodis {
	margin-top: 15%;
}
.textcolor{
	color: #bd2130;
}
.importbtn {
	margin-top: 20px;
	float: right;
	margin-bottom: 10px;
}
.actionpa{
	margin-top:15px;
	margin-bottom: 15px;
}

hr {
	border-top: 2px solid black !important;
}
.bpb{
	font-size: 50px;
	font-weight: 800;
}
.text40 {
	font-size: 40px;
}
.text30 {
	font-size: 30px;
}
.text22 {
	font-size: 22px;
}
.top12 {
	padding-top: 12px;
}
.btnimport{
	margin-right: 20px;
}
.right{
	float: right;
}
.lidis{
	color: #bd2130;
	margin-top: 7px;
}
.lidis a{
	color: #bd2130 !important;
}

.headersale {
	margin-top: 25px;
}
.distributor{
	margin-top: 16%;
}

.searchusername .btnsearch{
	margin-left: 15px;
}

.btnAddDis{
	margin-top: 20px;
	margin-left: 20px;
}
.searchinfodis{
	margin-top: 30px;
	font-size: 30px;
}
.centertext {
	display: flex;
	justify-content: center;
	align-items: center;
}
.changepw{
	width: 60%;
    margin: auto;
    margin-top: 20px;
}
.bottom20{
	margin-bottom: 20px;
}
.pdleft25{
	padding-left: 20px;
}
.pdleft5{
	padding-left: 5px;
}
.lds-default {
/*   display: inline-block; */
  position: relative;
  margin-left: 50%;
  margin-top: 100px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #90ee90;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}