/* @font-face { */
    /*     font-family: 'Courier'; */
    /*     src: url('../fonts/Courier-Normal.eot?#iefix') format('embedded-opentype'),  */
    /*     url('../fonts/Courier-Normal.woff') format('woff'),  */
    /*     url('../fonts/Courier-Normal.ttf') format('truetype'),  */
    /*     url('../fonts/Courier-Normal.svg#Courier-Normal') format('svg'); */
    /*     font-weight: normal; */
    /*     font-style: normal; */
    /* } */
/*@font-face {
  font-family: 'Courier-Bold';
  src: url('../fonts/Courier-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Courier-Bold.woff') format('woff'), url('../fonts/Courier-Bold.ttf')  format('truetype'), url('../fonts/Courier-Bold.svg#Courier-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  }*/

  @font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Book.woff') format('woff'), url('../fonts/Avenir-Book.ttf') format('truetype'), url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf') format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Heavy.woff') format('woff'), url('../fonts/Avenir-Heavy.ttf') format('truetype'), url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 10px;
}
body {
    color: #fff;
    margin: 0;
    position: relative;
    font-family: 'Courier';
    font-weight: normal;
    font-size: 1.6rem
}
a {
    text-decoration: none;
    color: #f8d092
}
body.home,body.home.fp-viewing-home-0 {
    background-image: url(../assets/images/bkg-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* background-position-y: 0; */
    background-attachment: fixed;
    min-height: 100vh;
    height: 100vh;
}
body.home.fp-viewing-home-1, body.home.fp-viewing-start,body.home.partners-section.fp-viewing-partners{
    background-image: url(../assets/images/star.png);
    background-color: #000;
    background-attachment: fixed;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.content-page-home {}
.dcw-mb1 {
    width: 239px;
    height: 259px;
    background-image: url(../assets/images/mb1.png);
    position: absolute;
    left: 15rem;
    top: -12rem;
    left: 21%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 42%;
}
.dwsd-mb2 {
    width: 133px;
    height: 144px;
    background-image: url(../assets/images/mb2.png);
    position: absolute;
    right: 21rem;
    left: auto;
    top: 13rem;
    left: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 47%;
}
.sddzs-mb3 {
    width: 71px;
    height: 73px;
    background-image: url(../assets/images/mb3.png);
    position: absolute;
    left: 52%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 70%;
}
@media (min-width: 1300px) {
    .dcw-mb1 {
        left: 50%;
        top: 50%;
        margin-left: -41rem;
        margin-top: -6rem;
    }
    .dwsd-mb2 {
        left: auto;
        margin-right: -54rem;
        right: 50%;
        top: 50%;
        margin-top: 14rem;
    }
    .sddzs-mb3 {
        top: 50%;
        margin-top: 25rem;
    }
}
.header {
    position: fixed;
    z-index: 999;
    padding-top: 4.7rem;
    padding-bottom: 1.7rem;
    width: 100%;
    /* height: 111px; */
    /* background: #000; */
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    /* max-width: 1242px; */
    margin: auto;
    padding: 0 8rem;
    width: 100%;
    position: relative;
}
.header .logo {
    float: left;
    margin-top: 1.2rem;
}
.header .menu {
    float: right;
    margin-top: 0;
}
.header .menu .menu-list {
    padding-bottom: 1.5rem;
    padding-top: 1.6rem;
}
.header ul.ul_menu {
    list-style: none;
    padding: 0;
    margin: 0.3rem 0 0 0;
}
body:not(.home) .header.header-2 ul.ul_menu {
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
}
.header ul.ul_menu li {
    display: inline-block;
    position: relative;
}
.header ul.ul_menu li a {
    color: #fff;
    font-family: 'Courier';
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    text-decoration: none;
    position: relative;
    margin: 0 1.64rem;
    padding: 0 0 2rem 0;
}
.header ul.ul_menu li a:before {
    content: '';
    width: 1px;
    height: 1.2rem;
    position: absolute;
    top: 0.1rem;
    right: -2.2rem;
    background: #fff;
}
.header ul.ul_menu li:last-child a:before {
    display: none
}
.header ul.ul_menu li:last-child a {
    margin-right: 0
}
.header ul.ul_menu li a:after {
    content: "";
    position: absolute;
    bottom: 1.4rem;
    left: 0;
    width: 100%;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    height: 0.11rem;
    background: #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.header ul.ul_menu li a:hover:after, .header ul.ul_menu li a.active:after, .header ul.ul_menu li a:focus:after {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.header ul.ul_menu li ul.sub-menu {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    left: -9999px;
    z-index: 99999;
    padding: 0;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
}
.header ul.ul_menu li:hover ul.sub-menu, .header ul.ul_menu li:focus ul.sub-menu {
    display: block;
    float: none;
    opacity: 1;
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    bottom: auto;
    height: auto;
    /* min-width: -webkit-max-content; */
    /* min-width: max-content; */
    min-width: 26.5rem;
    -webkit-transform: none;
    transform: none;
    margin-top: 1.8rem;
}
.header ul.ul_menu li:nth-child(6):hover ul.sub-menu, .header ul.ul_menu li:nth-child(6):focus ul.sub-menu{
 left: auto;
 right: 0;
}
.header ul.ul_menu li ul.sub-menu li {
    display: block;
    border-bottom: 0.031rem solid #fff;
    padding: 1rem 0;
}
.header ul.ul_menu li ul.sub-menu li:last-child {
    border-bottom: 0
}
.header ul.ul_menu li ul.sub-menu li a {
    padding-bottom: 0
}
.header ul.ul_menu li ul.sub-menu li a:before, .header ul.ul_menu li ul.sub-menu li a:after {
    display: none
}
.header ul.ul_menu li ul.sub-menu li:hover, .header ul.ul_menu li ul.sub-menu li:focus {
    background: rgba(255, 255, 255, 0.44);
}
body:not(.home) .header {}
@media (min-width: 1280px) {
    .header.header-2 .menu {
        position: relative;
        top: 0.3rem;
        overflow: hidden;
    }
    .header.header-2 .menu .menu-list {
        padding-bottom: 2.3rem;
        padding-top: 2.3rem;

        background: rgba(255, 255, 255, 0.44);
        border-radius: 50px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        height: 60px;

        padding-right: 8rem;
        padding-left: 2rem;
        width: 0;
        transition: all 0.8s ease-in-out;
    }
    .header.header-2 .menu.nav-open .menu-list {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 937px;
        position: static;
        transition: all 0.8s ease-in-out;
    }
    .header.header-2 ul.ul_menu {
        list-style: none;
        padding: 0;
        margin: 0;

        display: block !important;
        white-space: nowrap;
        overflow: hidden;
    }
    .header.header-2 a.menu-open, a.menu-close {
        display: block;
        position: absolute;
        outline: none;
        z-index: 999;
        right: 0;
        height: 6rem;
        width: 6rem;
        padding: 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.44);
        border-radius: 50%;
        cursor: pointer;
    }
    .header.header-2 a.menu-open .icon, .header.header-2 .icon a.menu-close{
        height: 2.4rem;
        width: 3rem;
        position: relative;
        margin: auto;
        top: 1.9rem;
    }
    .header.header-2 a.menu-open .icon span {
        height: 0.3rem;
        position: absolute;
        display: inline-block;
        width: 100%;
        background: #fff;
        left: 0;
        -webkit-transform-origin: left center;
        transform-origin: left center;
        transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header.header-2 a.menu-open .icon span.c-burger_top {
        top: 0;
    }
    .header.header-2 a.menu-open .icon span.c-burger_middle {
        top: 50%;
        margin-top: -0.15rem;
    }
    .header.header-2 a.menu-open .icon span.c-burger_bottom {
        bottom: 0;
        transition: margin 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1), margin 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1), margin 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header.header-2 .menu.nav-open a.menu-open {
        background: #fff
    }
    .header.header-2 .menu.nav-open .icon span.c-burger_top, .header.header-2 .menu.nav-open .icon span.c-burger_bottom {
        position: absolute;
        top: 50%;
        left: 0%;
        background: #333;
        width: 100%;
        transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        height: 0.3rem;
        margin-top: -0.2rem;
    }
    .header.header-2 .menu.nav-open .icon span.c-burger_middle {
        display: none
    }
    .header.header-2 .menu.nav-open .icon span.c-burger_top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition-delay: 0.3s;
        top: 0.3rem;
        left: 0.5rem;
    }
    .header.header-2 .menu.nav-open .icon span.c-burger_bottom {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition-delay: 0.4s;
        bottom: -0.2rem;
        top: auto;
        left: 0.4rem;
    }
}
@media (max-width: 1330px) and (min-width: 1280px){
    .header.header-2 .menu.nav-open .menu-list {
        width: 880px;
    }
}
@media (max-width: 1340px) and (min-width: 1280px) {
    .header.header-2 ul.ul_menu li a {
        margin: 0 1rem;
    }
    .header.header-2 ul.ul_menu li a:before {
        right: -1.6rem;
    }
    .header ul.ul_menu li a:before {
        right: -1.6rem;
    }
    .header ul.ul_menu li a {
        margin: 0 1rem;
    }
}
@media (max-width: 1279px) and (min-width: 992px) {
    /*.header.header-2 ul.ul_menu li a {
        margin: 0 0.3rem;
    }
    .header.header-2 ul.ul_menu li a:before {
        right: -0.6rem;
    }
    .header ul.ul_menu li a {
        font-size: 11px
    }
    .header .logo {
        margin-left: 0
        }*/
    }
    .header.header-2 .menu-list {}
    .main-content {
        clear: both;
        position: relative;
    }
    #simple3D {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100vh;
        top: 0;
    }
    #simple3D div {
        min-height: 120%;
        width: 120%;
    }
    #simple3D .dcw {
        background: url(../assets/images/dcw.png) no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
    }
    #simple3D .dwsd {
        background: url(../assets/images/dwsd.png) no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
    }
    #simple3D .sddzs {
        background: url(../assets/images/sddzs.png) no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
    }
    .content-page {
        position: relative;
        z-index: 9;
    }
    .fullpage-wrapper .main-content {
        /* max-width: 121.1rem; */
        margin: auto;
        padding: 0 8rem;
        width: 100%;
    }
    .home .main-content .content-page {
        /* max-width: 657px; */
        /* margin: auto; */
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        display: block;
        clear: both;
    }
    .home.fp-viewing-home-0 .content-page, body.home.fp-viewing-start .content-page {
        height: 100vh;
    }
    .home.fp-viewing-home-0 ul.menuanchor {
        display: none
    }
    .content-page h2 {
        font-family: 'Avenir-Medium';
        font-size: 2.8rem;
        line-height: 1.5;
        letter-spacing: 0.08rem;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 2.6rem;
    }
    .content-section a.link {
        color: #f8d092;
        border-bottom: 1px solid #f8d092;
        padding-bottom: 0.9rem;
        text-decoration: none;
        font-size: 1.6rem;
        letter-spacing: 0.08rem;
        font-family: 'Courier';
        font-weight: bold;
    }
    .content-section a.link:hover,.content-section a.link:focus{
     color:#fff;
     border-color:#fff
 }
 .home .fp-tableCell {
    display: block
}
.section-intro {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    /* margin-top:-11rem; */
    /* margin-top:-30px */
    margin-top: 5rem;
}
.section-intro .content-section {
    max-width: 68.7rem;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.eos-content, .other-partners {
    text-align: center;
}
.eos-content {
    /* margin-top: 5.6rem; */
    /* margin-top: 14rem; */
    position: absolute;
    width: 100%;
    top: 25vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    margin-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
}
.content-page h3 {
    font-family: 'Avenir-Medium';
    font-size: 2.5rem;
    line-height: 34px;
    letter-spacing: 0rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2.6rem;
}
.eos-content .teleos {
    font-size: 0;
    margin-top: 6.4rem;
    padding: 0 15px;
}
.eos-content .teleos .item {
    display: inline-block;
    width: 50%;
    font-size: 1.6rem;
    padding: 0 15px;
}
.eos-content .teleos .item img {
    max-width: 100%
}
.eos-content .teleos .item a, .other-partners .partners .item a {
    color: #f8d092;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    font-family: 'Courier';
    font-weight: normal;
}
.eos-content .teleos .item a:hover, .other-partners .partners .item a:hover ,
.eos-content .teleos .item a:focus, .other-partners .partners .item a:focus{
	color:#fff
}
.other-partners .partners {
    font-size: 0;
    padding: 8.6rem 15rem;
}
.other-partners .partners .item {
    display: inline-block;
    width: 33.333%;
    font-size: 1.6rem;
    vertical-align: bottom;
    margin-bottom: 4rem;
}
.other-partners .partners .item a h4{
 margin-top: 2.7rem;
 margin-bottom: 2.7rem;
}
#other-partners {}
#other-partners.show .other-partners {
    position: absolute;
    width: 100%;
    top: 24vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    margin-top: 9rem
}
.other-partners h3 {
    /* position: absolute;
    width: 100%;
    top: -8.3rem;*/
}
.fp-slides {
    width: 100%
}
.fp-viewing-home-1 .fp-section {}
.eos-content .teleos .item a h4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: normal;
}
.section-start.animate-flicker {
    height: 100vh;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.section-start.animate-flicker .content-section {
    position: relative;
    width: 100%;
    top: 50vh;
    /* margin-top: -150px; */
}
.section-start.animate-flicker .content-section a {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Courier';
    font-weight: normal;
}
.nav {
    width: auto;
    left: auto;
    position: fixed;
    top: 50vh;
    margin-top: -30px;
    z-index: 9;
    right: 0;
}
ul.menuanchor {
    margin: auto;
    padding: 0 9.4rem;
    list-style: none;
    text-align: right;
}
ul.menuanchor li a {
    font-size: 1.6rem;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.13rem;
    color: #f8d092;
    display: inline-block;
    vertical-align: top;
    padding: 0 0px;
    width: 0;
    overflow: hidden;
    height: 20px;
}
ul.menuanchor li.show-label a:hover{color:#fff}
ul.menuanchor li:hover a, ul.menuanchor li:focus a, ul.menuanchor li.show-label a {
    padding: 0 7px;
    width: auto
}
ul.menuanchor li {
    position: relative;
    float: right;
    clear: both;
}
ul.menuanchor li:before, ul.menuanchor li:after {
    content: '';
    width: 0.926rem;
    height: 0.926rem;
    background: #f8d092;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    opacity: 0.42;
    filter: alpha(opacity=42);
    margin: 0 3px;
    position: relative;
    top: 4px;
}
.col-left {
    position: fixed;
    bottom: 147px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    z-index: 10;
    font-family: 'Avenir-Heavy';
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: #f8d092;
    left: -1.4rem;
}
.col-left .scroll-down {
    position: relative;
}
.col-left .scroll-down:before {
    content: '';
    height: 1.064rem;
    width: 9.23rem;
    background: url(../assets/images/down-next.png);
    display: inline-block;
    margin: auto;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    margin-right: 10px;
    vertical-align: middle;
    background-size: cover;
}
/* #other-partners.show{    padding-top: 30px;} */


.page-content {
    padding: 0 11rem
}

h3.title {
    font-size: 2rem;
    line-height: 1.35;
    letter-spacing: 0.05rem;
    font-family: 'Avenir-Heavy';
    font-weight: normal;
    margin: 0 0 1.9rem 0
}
h2.title {
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0.6rem;
    font-family: 'Avenir-Heavy';
    font-weight: normal;
    margin: 0
}

@media (max-width: 1279px) {
    .container, .page-content, .fullpage-wrapper .main-content {
        padding: 0 3rem
    }
    .col-left {
        left: -5.7rem;
    }
    ul.menuanchor {
        padding: 0 4.7rem;
    }
}
/*@media (max-width: 991px) {*/
    @media (max-width: 1279px) {
        html {
            /*font-size: 8px;*/
        }
        body.home {
            height: auto;
        }
        .header {
            padding-top: 0;
            padding-bottom: 0;
            height: 65px;
            background: rgba(0, 0, 0, 0.7);
        }
        .header .logo {
            float: none;
            text-align: center;
            position: absolute;
            left: 50%;
            margin-left: -94px;
            z-index: 10;
        }
        .header .menu {
            position: absolute;
            width: 100%;
            top: 10px;
            left: 0;
        }
        .header .menu .menu-list {
            height: 0;
            overflow: hidden;
        }
        a.menu-open, a.menu-close {
            display: block;
            position: absolute;
            outline: none;
            z-index: 999;
            right: 0;
            height: 40px;
            width: 40px;
            padding: 0;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.44);
            border-radius: 50%;
            cursor: pointer;
            left: 15px;
            top: 3px;
        }
        a.menu-open .icon, a.menu-close .icon {
            height: 16px;
            width: 20px;
            position: relative;
            margin: auto;
            top: 12px;
        }
        a.menu-open .icon span {
            height: 3px;
            position: absolute;
            display: inline-block;
            width: 100%;
            background: #fff;
            left: 0;
            -webkit-transform-origin: left center;
            transform-origin: left center;
            transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        }
        a.menu-open .icon span.c-burger_top {
            top: 0;
        }
        a.menu-open .icon span.c-burger_middle {
            top: 50%;
            margin-top: -1.5px;
        }
        a.menu-open .icon span.c-burger_bottom {
            bottom: 0;
            transition: margin 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1), margin 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1), margin 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .menu.nav-open a.menu-open {
            background: #fff
        }
        .menu.nav-open .icon span.c-burger_top, .menu.nav-open .icon span.c-burger_bottom {
            position: absolute;
            top: 50%;
            left: 0%;
            background: #333;
            width: 100%;
            transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            height: 0.3rem;
            margin-top: -0.2rem;
        }
        .menu.nav-open .icon span.c-burger_middle {
            display: none
        }
        .menu.nav-open .icon span.c-burger_top {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            transition-delay: 0.3s;
            top: 0.2rem;
            left: 0.2rem
        }
        .menu.nav-open .icon span.c-burger_bottom {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            transition-delay: 0.4s;
            bottom: -0.05rem;
            top: auto;
            left: 0.2rem;
        }
        .header .menu.nav-open .menu-list {
            overflow: inherit;
            position: absolute;
            width: 100%;
            height: auto;
            overflow-y: scroll;
            height: 100vh;
            /* margin-top: -1.7rem;    */
            margin-top:0;
            padding-bottom:1rem
        }
        .header .menu.nav-open .menu-list ul.ul_menu {
            display: block !important;
            /* overflow-y: scroll; */
            /* height: 72vh; */
        }
        .header .menu:before{
          content: '';
          width: 100%;
          height: 65px;
          background:rgba(0, 0, 0, 0.7);
          position: fixed;
          z-index: 1;
          top: 0;
      }
      .header .menu.nav-open:before{background: #000}
      .header ul.ul_menu {
        margin-top: 0;
        display: none;
        margin-top: 39px;
    }
    .header ul.ul_menu li {
        display: block;
        position: relative;
        margin: 0;
        padding: 15px;
        border-top: 1px solid #fff;
        background: #000;
        /* background: rgba(255, 255, 255, 0.44); */
    }
    .header ul.ul_menu li:last-child{border-bottom:0}
    .header ul.ul_menu li a:before, .header ul.ul_menu li a:after {
        display: none
    }
    .header ul.ul_menu li a {
        margin: 0;
        padding: 0;
    }
    .header ul.ul_menu li a:hover{
        color: #f8d092
    }
    .header ul.ul_menu li a:focus{color:#fff}
    .fullpage-wrapper .main-content {
        padding: 0 15px;
    }
    /* .section-start.animate-flicker .content-section{margin-top:-60px} */
    .other-partners .partners .item {
        padding: 0 20px
    }
    .other-partners .partners .item img {
        max-width: 100%
    }
    ul.menuanchor {
        padding: 0 2rem;
    }
    .header ul.ul_menu li ul.sub-menu {
        opacity: 1;
        filter: alpha(opacity=100);
        position: static;
        margin: 10px 15px 0;
        display: none;
    }
    .header ul.ul_menu li ul.sub-menu li {
        border: 0
    }
    .header ul.ul_menu li:hover ul.sub-menu, .header ul.ul_menu li:focus ul.sub-menu {
        display: block;
        position: static;
        margin: 10px 15px 0;
    }
    .header ul.ul_menu li ul.sub-menu li:hover, .header ul.ul_menu li ul.sub-menu li:focus {
        background: #000;
    }
    /* .section-intro{    margin-top: -6rem;} */
    .home .main-content .content-page {

    }
    .home .main-content .content-page {
        position: static;
        height: auto;
    }
    .home #home-section .main-content .content-page {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        display: block;
        clear: both;
    }   
    #other-partners.show .other-partners, .eos-content {
        position: static;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        margin-top: 0;
    }
    #other-partners.show .other-partners {
        margin-top: 12rem;
    }
    #home-section {
        height: 100vh;
    }
    #start-section {
        margin-bottom: 9rem;
    }
    .section-start.animate-flicker {
        display: none;
    }
    .home #start-section .main-content .content-page,
    #other-partners {
        display: block !important;
        position: static;
        height: auto;
    }
    .other-partners .partners .item{width:50%}
    .other-partners .partners{padding-left:10rem;padding-right:10rem}
    span.angle-down:before{
      content: "\f107";
      font-family: FontAwesome;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 16px;
  }
  li.active span.angle-down:before{
      content: "\f106";
  }
}
@media (max-width: 767px) {
    .home .main-content .content-page {
        left: auto
    }
    .section-intro {}
    .home .main-content .content-page {
        position: relative;
    }
    .content-page h2,h2,.h2,.custom-page .main-content .content-page h2 {
        font-size: 2.4rem;
    }
    .content-page h3,h3,.h3,.about-us-page .page-title, .contact-us-page .page-title,.custom-page .main-content .content-page h3 {
        font-size: 2.2rem
    }
    .other-partners .partners .item {
        width: 50%
    }
    .eos-content .teleos {
        margin-top: 3rem;
    }
    .other-partners .partners {
        padding: 3rem 7.5rem;
    }
    .eos-content .teleos .item {
        width: 100%
    }
    .section-intro .content-section{padding-left:30px;padding-right:30px}
}
@media (max-width: 479px) {
    .header .logo {
        margin-left: -75px;
    }
    .header .logo img {
        max-width: 150px;
        margin-top: 3px;
    }
    
    .eos-content {
        padding: 0 30px
    }
    .other-partners .partners .item {
        width: 100%;
    }
    .col-left {
        bottom: 100px;
    }
    .col-left .scroll-down:before {
        width: 6.23rem;
        background-position: bottom right;
    }
}
@media (max-width: 1279px) and (max-height: 450px) {
    .dcw-mb1 {
        top: 50%;
    }
    .dwsd-mb2 {
        top: 57%;
    }
    .sddzs-mb3 {
        left: 50%;
        top: 84%;
    }
}
@media (max-width: 380px) and (max-height: 400px) {
    .home #home-section .main-content .content-page {
        height: auto;
        position: static;
    }
    .section-intro {
        position: relative;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
    }
    #home-section {
        height: auto;
        margin-bottom: 8rem;
        padding-top: 8rem;
        position: relative;
    }
}