.col-md-8 .form-control{
	width: 100%;
}
.width250 {
	width: 250px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efefda;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.modal-footer{
	background-color: #ffab0094;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #6f0a14;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ff9400;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #a93133;
  color: white;
  padding: 10px 15px;
  border: none;
}
#filtertext{
	margin: auto;
	width: 75%;
}
.fixingtext{
	background-color: yellow;
}
.line2{
	margin-top: 20px;
}
.textcenter {
	margin-left: 36%;
	font-size: 30px;
}
.Cancel{
	padding: 2px 10px;
    background: #e54b4d;
    border-radius: 10px;
}
.Warning{
	padding: 2px 10px;
    background: #ffff00;
    border-radius: 10px;
}
.Delivered{
	padding: 2px 10px;
    background: #1c7430;
    border-radius: 10px;
}
.live {
	background: green;
}
.limit{
	background: red;
}
.bold {
	font-weight: bold;
}
th, td {
/* 	white-space: nowrap; */
}

div.dataTables_wrapper {
/* 	width: 800px; */
	margin: 0 auto;
}

tr {
/* 	height: 50px; */
}


p{
	margin-bottom: 0 !important;
}
form .formgetone{
	width: 500px;
	margin-left: 30px;
}
.form500{
	margin-left: 20%;
	width: 500px;
}
.form900{
	margin-left: 20%;
	width: 900px;
}
.left40p {
	margin-left: 40%;
}
.left10px{
	margin-left: 10px;
}
.left50px{
	margin-left: 50px;
}
table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}
.top10px{
	margin-top: 10px;
}
#btnfeedsuptm{
	margin-left: 10px;
	float: right;
}
.image img{
	width: 120px;
	height: 120px;
}
.pdtop10px{
	padding-top:10px;
}
.form-inline .col-6 label{
	justify-content: left;
}
.ppacc {
	max-width: 200px;
	word-wrap: break-word;
}
.col-6 .form-inline .col-md-8 .form-control{
	width: 100%;
}
.btn-close-new, .btn-close-new-satellite,.btn-close-new-gallery{
	float: right;
}
.col-6 .form-inline .col-md-8 select{
	width: 100%;
}
.btn-success .top20{
	margin-top: 20px;
}
.bottom20{
	margin-bottom: 20px;
}
#tableproductmc tr td {
    height: 10px;
}
.btnCaptureStripe{
	background-color: gold;
    border-color: blueviolet;
    margin-top: 10px;
}
.wrapnormal{
	white-space: normal;
}
.width-100{
    width:100px;
}
.width-200{
    width:200px;
}
.width-250{
    width:250px;
}
.width-300{
    width:300px;
}
.width-400{
    width:400px;
}
.width-500{
    width:500px;
    white-space: normal; /* Allow text to wrap */
   	word-wrap: break-word;
}
#tableproductmc td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}
#tableproducttmfeed td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}
.btnDeliverStripe{
	background-color: gold;
    border-color: blueviolet;
    margin-left: 5px;
}
.it .btn-orange
{
	background-color: blue;
	border-color: #777!important;
	color: #777;
	text-align: left;
  	width:100%;
}
.it input.form-control
{
	
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileevidence{
	max-width: 90%;
}
.col-6 .col-sm-8{
	flex: 0 0 100%;
    max-width: 100%;
}
.gallery .row form{
	width: 100%;
	margin-bottom: 20px;
}
.fullstat, .onlyimage, .onlyimageedit, .fullstatedit{
	width: 100%;
	margin-left:0px;
}
.http-error {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.http-error .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.changepwfr {
	margin-top: 50px !important;
	width: 50%;
	margin: auto;
}
.http-error .container a {
    display: inline-block;
}
/* ul { */
/*   list-style-type: none; */
/*   margin: 0; */
/*   padding: 0; */
/*   overflow: hidden; */
/*   background-color: #333333; */
/* } */

/* li { */
/*   float: left; */
/* } */

/* li a { */
/*   display: block; */
/*   color: white; */
/*   text-align: center; */
/*   padding: 16px; */
/*   text-decoration: none; */
/* } */

/* li a:hover { */
/*   background-color: #111111; */
/* } */